[2018-01-31 21:49] mariamrahmaani opened #3 "Can neo be built on Windows?"
I tried to build with windows cmake and seems some linux related headers is missing:
:\Neo-github\build\CMakeFiles\CMakeTmp\CheckIncludeFile.c(1): fatal error C1083: Cannot open include file: 'pthread.h': No such file or directory [D:\Neo-github\build\CMakeFiles\CMakeTmp\cmTC_e39e3.vcxproj]

not sure if something missing from windows cmake environment or windows build is not in your plan.
Thanks,

[2018-02-01 15:15] MichalMrozek commented on #3
NEO contains Microsoft Windows support in the code base. At this time, we do not support compilation of the opensource OpenCL stack for Windows. (It is our long-term intention to offer that option.) The Windows driver can be obtained in binary form at https://downloadcenter.intel.com/product/80939/Graphics-Drivers

[2018-02-01 15:15] #3 closed

[2018-02-03 16:10] vnsmurthysristi opened #4 "Android support"
Is this can support Android?

[2018-02-05 07:53] AdamCetnerowski commented on #4
The code can be ported and cross-compiled for Android systems. It is our long-term intention to provide a build recipe.

[2018-02-05 09:34] #4 closed

[2018-02-09 02:11] raunraun opened #5 "Cmake failure"
I'm having trouble following the build instructions.

First.  Both the compute-runtime and the graphics-compiler both call for identical workspaces and say to create a 'build' directory for cmake.  Both projects can't share the same build dir.

- Am I expected to have 2 separate workspaces, 1 for the runtime and 1 for the compiler?
- Should I have 2 build dir's in a single workspace, 1 for the run

[2018-02-09 03:43] raunraun opened #6 "Build failure on gcc 7.2.1"
[code]

Maybe have a way to disable warnings as errors?

[2018-02-09 03:55] raunraun opened #7 "Unit tests fail to build on gcc 7.2.1"
[code]

[2018-02-09 06:59] MichalMrozek commented on #6
Thanks for report.
This will be fixed.

[2018-02-12 16:57] ArturHarasimiuk commented on #5
Thanks for your feedback. We are working to improve our build instructions.

intel-graphics-compiler is part of compute-runtime workspace. You don't need to create separate workspace for compiler when working with compute-runtime.

You can use below commands to create proper workspace:
[code]

For Google Test and Google Mock framework. Yes, you should use older version: 1.7.0 is expected.

[2018-02-12 17:06] raunraun commented on #5
These instructions look great - much clearer.  I'll  give it another try.

[2018-02-12 17:09] ArturHarasimiuk commented on #7
Which version of Google Test framework are you using?

Please note that 1.7.0 is expected. Please try again with 1.7.0 if you used different version and let us know if it worked.

Thank you!

[2018-02-12 17:23] raunraun commented on #7
I was on TOT, rolling back now.  Thanks!

[2018-02-12 19:19] #7 closed

[2018-02-13 03:26] raunraun opened #8 "cloc_tests segfaults"
After a build cloc_tests segfaults.  It looks like some files are not copied into the bin director.   All other tests run and pass.

Log below:

[code]

[2018-02-13 22:30] ArturHarasimiuk commented on #8
we shouldn't observe this:

Cmake should generate appropriate commands to copy required files. Could you please check if file copybuffer.cl is present somewhere under bin directory?

It will be helpful if you can execute below command and share output:
[code]

[2018-02-14 02:09] raunraun commented on #8
make run_cloc_tests works fine.

copybuffer.cl appears in a few places:

[2018-02-14 03:10] raunraun opened #9 "clGetPlatformIDs fails with the included Fedora 27 ICD"
Using the ICD included in Fedora 27 I get the following error from NEO.  Beignet, POCL, and AMDGPU Mesa implements all work fine with this ICD

[code]
clGetPlatformIds is returning -1001.  You can see from the gdb log that libigdrcl.so was dynamically loaded by the ICD.

If I build my own ICD from TOT khronos clinfo executes just fine.

[2018-02-14 03:25] raunraun opened #10 "segfault in OCLRT::DrmMemoryManager::allocUserptr when not logged in graphically"
I'm getting an segfault in allocUserptr when I'm not logged to a graphical Xorg session.  After a fresh reboot, GDM is running but I'm not logged in graphically yet.  I then ssh into the machine and this happens:

[code]

If I log graphically the segfault when running OpenCL applications my ssh session no longer happens.  So the sequence is:

- reboot
- ssh to machine
- run clinfo
  - get above er

[2018-02-14 04:01] raunraun commented on #10
My display is powered by a PEG card.  IGD is enabled, but is headless.

[2018-02-14 17:10] MichalMrozek commented on #6
Problem fixed.

[2018-02-14 17:10] #6 closed

[2018-02-14 17:12] MichalMrozek commented on #5
Instructions are now updated, looks like this question may be closed.

[2018-02-14 17:12] #5 closed

[2018-02-14 18:51] MichalMrozek commented on #9
This is known limitation of our current driver.

The driver requires Khronos ICD loader to operate correctly: https://github.com/KhronosGroup/OpenCL-ICD-Loader

We are exploring other solutions to make it more convenient with ICD provided with Linux distributions.

[2018-02-14 21:23] ArturHarasimiuk commented on #10
could you please share output from command:
[code]

[2018-02-15 07:44] MichalMrozek commented on #8
Thanks for the report, in the current implementation cloc_tests needs to be executed in the directory that is being tested.
If you want to test SKL , then cloc_tests need to be executed under SKL directory.
This is different then the other tests, which may be executed directly in the same directory where they are.

[2018-02-15 11:35] JacekDanecki commented on #9
Can you provide backtrace?
When you set OCL_ICD_ASSUME_ICD_EXTENSION=1 environment variable do you still observe this issue?
Are you using clinfo from this repository: https://github.com/Oblomov/clinfo

[2018-02-15 14:17] raunraun commented on #9
I'm using clinfo from the Fedora 27 repo:
[code]

...seems to work
[code]

[2018-02-15 14:19] raunraun commented on #10
[code]

[2018-02-15 17:46] raunraun commented on #9
Yes, that's the clinfo.  I'm using the bin included in Fedora 27

[2018-02-16 21:58] ArturHarasimiuk commented on #10
Thanks for additional data. We analyzed problem and should have fixes very soon.

[2018-02-17 05:05] oscarbg opened #12 "Android x86 support (aka Android-IA) for Neo driver?"
Hi,
I say that because altough I newer owned an Android device with x86 processor either tablet or phone,
seems Intel provided OpenCL support on these devices..
even I seem to remember that some year ago Intel shipped Android opencl library and info on linking it with Intel Compiler for Android or/and some Intel OpenCL SDK version..
anyway I believe this devices used similar closed source binary c

[2018-02-17 05:34] oscarbg opened #13 "Neo OpenCL driver supports already SPV_INTEL_subgroups?"
Hi,
I'm very interested in this extension as it seems to provide support for cl_intel_subgroups & cl_intel_subgroups_short extensions to SPIR-V world..
don't know if extension is official yet or not..
it's strange because it can't be found on SPIR-V extension registry:
https://www.khronos.org/registry/spir-v/
but appers on:
https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.pdf
or commit

[2018-02-17 05:49] oscarbg opened #14 "Clarify delta and my own Intel Windows OpenCL Neo vs classic comparison and issues found.."
to start you must clarify:
"The driver has the following functional delta compared to previously released drivers"
delta means it adds this functionality vs classic or removes it?

from what I see delta it seems means it's removed vs classic..
at least that's what I see on a Windows driver with NEO driver..

comparison of Intel HD 530 OCL classic on drv 23.20.16.**4911** vs NEO on drv 23.20.16.**4

[2018-02-17 06:36] oscarbg opened #15 "Request for an extension like cl_qcom_compressed_image.."
Hi,
now that Intel OpenCL development is open sourced for all platforms with some effort everyone can implement what they want on top of it.. but anyway I'm requesting for an extension that surprises me hasn't been exposed yet by almost any vendors..
I'm meaning the support for OpenCL kernel to read from compressed textures (images in OpenCL speaking).. I mean textures compressed with texture form

[2018-02-17 07:10] ThijsWithaar opened #16 "Compilation error on debian?"
When compiling on debian buster, using clang 5.0.1-2, the make step give me:
[code]

Are there some compile settings I should change ?

[2018-02-17 08:32] AdamCetnerowski commented on #12
A closed-source OpenCL implementation was provided for our Baytrail and Cherrytrail platforms.

NEO code can be ported and cross-compiled for Android systems. It is our long-term intention to offer that option.

[2018-02-17 22:30] oscarbg opened #17 "Can clarify which platorms will get OpenCL 2.2 support? SKL with gen9 will get it?"
title says it all..
on 01.org site we see:
"with OpenCL 2.2 software technology support coming later in 2018"
just wanting to know if will only be supported on current platformls like Skylake desktop GPUs or only in upcoming Cannonlake (gen10) or even need Icelake (gen11) (know this future products and graphics gen versions from public Mesa commits)..

[2018-02-18 07:14] oscarbg opened #18 "Comparing Win Neo vs Linux Neo driver and some Linux benchmarks.."
Ok,
I compiled today the driver and run and up to date clinfo tool (full report below):

extensions differences vs Windows driver are:
Linux drv has (and Windows no):
cl_khr_priority_hints cl_khr_throttle_hints cl_khr_create_command_queue

more info on "cl_khr_create_command_queue" extension, please? can't find info on OpenCL registry..

Win drv has (and Linux drv no):
cl_khr_gl_sharing cl_khr_gl_

[2018-02-18 07:25] oscarbg commented on #18
Some benchmarks:
Platform: Intel(R) OpenCL HD Graphics
half supported!  Device: Intel(R) Gen9 HD Graphics NEO
    Driver version  : 1.0 (Linux x64)
    Compute units   : 24
    Clock frequency : 0 MHz

    Half-precision compute (GFLOPS)
      half   : 748.56
      half2  : 743.20
      half4  : 741.60
      half8  : 735.49
      half16 : 729.58

    Global memory bandwidth (GBPS)
      float   :

[2018-02-19 02:21] oscarbg opened #19 "Supports GVT-g i.e. works under this kind of virtualization.."
Hi,
I think this is the last issue I have about the NEO driver:
on GVT-g setup guide (https://github.com/intel/gvt-linux/wiki/GVTg_Setup_Guide) we see:

so seems GVT-g supports Beignet OpenCL 2.0 driver.. is this new Intel Neo OpenCL tested already tested on Linux guest virtual machine using GVT-g to see if it works correctly?
hope no issues also with new GVT-g QEMU dma_buf support annonued this w

[2018-02-19 08:27] lissyx opened #20 "Unable to get working on Broadwell i7 5600U, or missing steps?"
I have built and installed without any error (following exactly the steps from https://github.com/intel/compute-runtime#building) on my laptop (ubuntu 17.10, Broadwell i7-5600U), but `clinfo` returns 0 platform found. Checking `clinfo` calls with `strace` shows it is properly picking-up `/opt/intel/opencl/libigdrcl.so`.

Is Broadwell supported right now? Readme states it is https://github.com/inte

[2018-02-19 08:39] MichalMrozek commented on #14
Hello,

In regard to delta between Clasic, this is a list of things that are missing in Neo and are present in Classic driver. We are working on closing this gap, i.e. khr_throttle_hints  was recently added and some device caps were fixed ( max read write image args are at 128 as well ).

We are planning to fill all the gaps and eventually remove the delta between the Clasic driver for things you

[2018-02-19 08:41] lissyx commented on #20
The GPU seems to be identified as Broadwell in the source as well, under the define `IBDW_GT2_ULT_MOBL_DEVICE_F0_ID`: https://github.com/intel/intel-graphics-compiler/blob/e42b674bce86b372c92ba08812cecccc71debafc/inc/common/igfxfmid.h#L354

[2018-02-19 08:52] pwilma commented on #20
Brodwell is supported by Neo driver. Your issue looks similar to problem already reported in https://github.com/intel/compute-runtime/issues/9. Could you please check it? To operate correctly Neo driver requires Khronos ICD loader: https://github.com/KhronosGroup/OpenCL-ICD-Loader. It is known limitation that we are trying to solve.

[2018-02-19 09:44] lissyx commented on #20
@pwilma Thanks! I did search in issues before, but missed #9. I also saw the note about the Khronos ICD loader, but I mistakenly understood that this was provided by the `ocl-icd-libopencl1` package on debian/ubuntu. I'll verify all of that, thanks !

[2018-02-19 09:46] lissyx commented on #20
Ok, `OCL_ICD_ASSUME_ICD_EXTENSION=1 clinfo` gives cool stuff, it might just be the ICD loader that I messed up with :)

[2018-02-19 10:38] lissyx commented on #20
Okay, after adding a clone of https://github.com/KhronosGroup/OpenCL-ICD-Loader into the set of sources for the Neo driver and building it by hand, re-running CMake, it was properly picked up as this line shows:
`-- Taking ICD library from /home/alex/codaz/Mozilla/DeepSpeech/Intel-Neo/neo/../OpenCL-ICD-Loader/build/lib`

Then, it's being properly packaged, and `clinfo` returns proper status, as we

[2018-02-19 10:52] lissyx commented on #20
@pwilma i'm unable to get any debug, even forcing `PrintDebugMessages=1` on the env, and I could not find that mentionned in any doc. How am I supposed to get those? Should I rebuild with something different than `Release` ?

[2018-02-19 11:33] pwilma commented on #20
Yes, debug variables won't work for Release. Please try to build Debug version.

[2018-02-19 11:40] lissyx commented on #20
@pwilma Thanks, I'm doing that right now. BTW, one step I had to make but I'm not completely sure about is: I did git clone the Khronos ICD  Loader next to the neo driver, and I built it by hand. Was building by hand required, or should your CMake build system have handled that for me automagically?

[2018-02-19 11:45] pwilma commented on #20
You did it correctly. Manual build of Khronos ICD Loader is required. Neo CMake buildsystem won't build it automatically.

[2018-02-19 13:04] lissyx commented on #20
@pwilma Debug-enabled build is failing: `igc/IGC/AdaptorCommon/customApi.cpp:555:41: error: 'struct SRegKeysList' has no member named 'EnableDxbcDump'; did you mean 'EnableCosDump'?`

[2018-02-19 13:42] lissyx commented on #20
@pwilma I've removed the unexisting member, built and installed debug build, but I'm still unable to get any debug message :(

[2018-02-19 13:59] vnsmurthysristi commented on #4
Thank you

[2018-02-19 13:59] lissyx commented on #20
Not sure yet, but there's a `return -EFAULT` here in `i915_gem_execbuffer2()`: http://kernel.ubuntu.com/git/ubuntu/ubuntu-artful.git/tree/drivers/gpu/drm/i915/i915_gem_execbuffer.c#n2487

[2018-02-19 14:02] AdamCetnerowski commented on #19
This has not been validated yet. It "should just work". If you have a chance to try it, please share your experiences and file issues, if you run into any.

[2018-02-19 14:03] AdamCetnerowski commented on #18
On extensions in Linux, not present in Windows:
NEO supports Windows and Linux using the same code base, but there is some latency in delivering the Windows closed source driver (integration, validation, signing) compared to Linux, where the source code is provided continously. These extensions will be present in the Windows shortly. New features on Windows will be present in subsequent driver rel

[2018-02-19 14:03] AdamCetnerowski commented on #17
Any platforms supporting OpenCL 2.1 are eligible for move to OpenCL 2.2.

[2018-02-19 14:04] AdamCetnerowski commented on #15
Thank you for your suggestion. This requires some technical analysis on our side. We will keep this issue open until we have a repsonse for you.

[2018-02-19 14:04] AdamCetnerowski commented on #14
To provide some additional details:

**Extensions**
We are driving towards extension parity from both Windows/Linux and Classic/NEO perspectives - expect the gap to shrink over time.

**Capabilities**
You have a highlighted a few minor inconsistencies that we are cleaning up.
Fine-grained SVM is an exception - this requires an i915 patch. A version of this patch was provided in previous closed sou

[2018-02-19 14:12] lissyx commented on #20
Enabling DRM's debug in `/sys/module/drm/parameters/debug`, I get this for the PID of my process:
[code]

[2018-02-19 14:30] lissyx commented on #20
@pwilma Here is most of the debug info I could gather so far. Is it possible it is failing because the driver does not yet support enough of the required calls / opencl for proper operation with TensorFlow / ComputeCpp 0.5.1 ? Or do I need a newer kernel (Ubuntu 17.10 is on 4.13) ?

[2018-02-19 14:40] lissyx commented on #20
@pwilma I've also collected some deubg files, if it can be of help, tell me what would be the best way to share them:
[code]

[2018-02-19 14:50] ArturHarasimiuk commented on #10
as of commit a99d951c55a1964d69e1d095d09dfb645af02a7b the SEGV issue should be gone.

please note there are some OS level requirements:
- i915 module have to be loaded
- user needs permission to open /dev/renderD<XXX> or /dev/card<X>

please check updated version of Neo and let us know if it works for you. In case of problems, please make sure that you meet requirements.

Two additional commands t

[2018-02-19 15:02] MichalMrozek commented on #20
Useful stuff for debugging:
1. Open file vpg-compute-neo\runtime\os_interface\DebugVariables.def , there are various debug flags available there.
2. Good thing to start is to EnableDebugBreak to true
3. Here problems looks like a failure in exec call, this probably means that inputs are incorrect. To isolate faulty kernel please set MakeEachEnqueueBlocking, that will tell you which clEnqueueNDRang

[2018-02-19 15:06] lissyx commented on #20
@MichalMrozek Thanks! I have the following in `igdrcl.config`, is that okay? it seems to provide debug infos at least:
[code]

[2018-02-19 15:07] lissyx commented on #20
I cannot find anything referring to `clEnqueueNDRangeKernel` in `igdcrl.log`

[2018-02-19 15:24] MichalMrozek commented on #20
Can you try to use this flag ?
DoCpuCopyOnWriteBuffer to 1.

[2018-02-19 15:25] lissyx commented on #20
@MichalMrozek Magic! it's not failing anymore, it seems to be doing actual *stuff* :)

[2018-02-19 15:28] MichalMrozek commented on #20
Looks like there may be a bug in our clEnqueueWriteBuffer implementation.
We will try to reproduce it basing on the logs sent.
If we fail we will contact for more robust reproducer, thanks for reporting this.

[2018-02-19 15:30] lissyx commented on #20
@MichalMrozek I can share you the binaries to reproduce as well, if you need. It's DeepSpeech + ComputeCpp 0.5.1.

Now, so far, it started the run, but it's not completing anything yet, the output is "blocked" on this:
[code]

The `deepspeech` process seems to be consuming as much as CPU as it can, so maybe it's just slow, given the model is quite big and it's a debug build.

[2018-02-19 15:42] #17 closed

[2018-02-19 17:14] lissyx commented on #20
@MichalMrozek Building release and changing the value of `DoCpuCopyOnWriteBuffer` to `true` in `runtime/os_interface/DebugVariables.def` fails like this:
[code]

[2018-02-19 18:05] lissyx commented on #20
@MichalMrozek Okay, performances are very bad, but it executed successfully:
[code]

For reference, the same run on pure CPU takes 4-6 secs instead of 835. But for experimental driver and with the flag that we had to flip, it's probably not surprising. Good news is that it works !

[2018-02-19 18:20] MichalMrozek commented on #20
It is expected that some tests will fail in non-default debug variable setting.
Those variables are meant to be used for debug/experiments.
Glad to hear that stuff is working.

If you are interested in analyzing why execution is slow I kindly suggest following project
https://github.com/intel/opencl-intercept-layer

Good to start would be
ContextHintLevel to 0xff

This will analyze application for

[2018-02-19 18:26] lissyx commented on #20
@MichalMrozek Thanks for those hints, I'll take a look into that. I pushed the testing to comparing the same model:
[code]

And on pure CPU:
[code]

Given the current state of your driver (and the flag flipped), are those times expected, or is there something valuable to investigate ?

[2018-02-19 18:38] MichalMrozek commented on #20
This flag only changes how writeBuffer operation is being handled, instead of going to GPU it uses CPU for transfer. It is unlikely that it affects performance so significantly, therefore I think problem is somewhere else. I think your investigation may provide valuable feedback.

[2018-02-19 18:54] ArturHarasimiuk commented on #16
We have looked into this and it appears the problem is in [GmmLib](https://github.com/intel/gmmlib) component. We have filed an issue there [link](https://github.com/intel/gmmlib/issues/7).

[2018-02-19 23:43] oscarbg commented on #14
@MichalMrozek @AdamCetnerowski
thanks for you fast and informative answers..

[2018-02-19 23:47] oscarbg commented on #15
thanks for taking into consideration.. ideally I wish gets eventually as EXT/KHR and exposed almost by every vendor on modern hardware.. for me seems like a somewhat obvious omission for such a long time since OpenCL has been released..

[2018-02-20 00:26] oscarbg commented on #18
really thanks for info.. guess I can close..

[2018-02-20 00:26] #18 closed

[2018-02-20 00:26] #14 closed

[2018-02-20 00:37] oscarbg opened #21 "Having OpenCL CPU device support under only one platform (NEO platform) jointly with GPU is possible?"
Hi,
don't know if lame question.. but this is what we get on Windows Neo drivers after all.. right now Linux Neo OpenCL driver provides 1 platform with one GPU device, no CPU device..
seems Intel SRB 5.0 package provided both 2 devices: CPU and GPU under 1 platform..
(The intel-opencl-r5.0 (SRB5.0) Linux driver package enables OpenCL 1.2 or 2.0 on the GPU/CPU for the following Intel® processors:)

[2018-02-20 09:51] lissyx commented on #20
@MichalMrozek Just sent you the logs produced with the suggested flags. I had a look at the report, there are some entries accounting for a lot of the time but I'm unsure how to interpret this :)

[2018-02-21 01:23] oscarbg commented on #14
yes seems 23.20.16.4958 fixes it!

[2018-02-21 13:19] lissyx commented on #20
Summup of the finding. I've used the tool from https://github.com/intel/opencl-intercept-layer, with:
 - ContextHintLevel=0xFF
 - DevicePerformanceTiming=1
 - HostPerformanceTiming=1

Generated log shows that over the 500/800 secs (depending on some of the runs) of the overall inference time reported by DeepSpeech, the actual time spent running OpenCL part was ~5 secs. Most of the time is actually

[2018-02-21 13:38] MichalMrozek commented on #20
One small clarification, long compilation happens inside the OpenCL driver as a part of the setup.
Execution on the GPU takes around 5 seconds.
One way to mitigate this heavy compilation cost is to cache compiled binaries and re-use them in subsequent application runs, but that needs to be developed as a part of the actual application.

[2018-02-21 19:51] PiotrRozenfeld commented on #21
* There is currently no plan to opensource OpenCL CPU driver. Closed source remains available for Linux.
* Exposing multiple devices (CPU/GPU) under a single Intel platform requires presence of libIntelOpenCL.so - opensourcing of this library is being considered.

[2018-02-22 07:25] oscarbg commented on #21
@PiotrRozenfeld thanks for informative reply..
regarding point #2:
yesterday I did some experiments and sad to say as far as I could learn from that experiments open sourcing libIntelOpenCL.so may even not be needed..
let me answer why:
**TLDR:so briefly the problem is right now not in libIntelOpenCL.so which is able to load Neo GPU driver correctly seems, but that OpenCL CPU close source driver h

[2018-02-22 07:36] MichalMrozek commented on #16
Looks like problem is fixed in gmmlib.
Closing this one.

[2018-02-22 07:36] #16 closed

[2018-02-22 07:37] MichalMrozek commented on #8
Problem fixed with commit 46f3efd79c45b05177a919f70548bbba5f4cd40f.

[2018-02-22 07:37] #8 closed

[2018-02-22 12:27] mejch commented on #20
@lissyx Can you check how host_ptr passed to clEnqueueWriteBuffer is allocated? Is it something like const int [] = {1}; ? (The pointer comes from prod.rw.pbmm.)

[2018-02-22 12:30] lissyx commented on #20
@mejch I'm not sure I can do that, with all the layers in the middle. The file `prod.rw.pbmm` is a protoculbuffer file modified to be `mmap()`'d, using TensorFlow MemmappedFileSystem codebase.

[2018-02-22 14:34] lissyx commented on #20
@mejch Looks like you had a good hint with `DoCpuCopyOnWriteBuffer`, I've rebuilt the driver without it, and I do am able to run everything when I don't use the `mmap()` model. I'll need to find a way to hook somewhere to check how the pointer is being allocated.

[2018-02-22 17:59] gipsy100 opened #22 "libreoffice crashes since installation of the new intel opencl driver stack"
I successfully installed the new intel opencl driver stack (checked with clinfo and everything looks fine).

I can use darktable with activated opencl without problems, but whenever I open an existing document in libreoffice or save a new one it crashes with the message "Couldn't open /usr/share/kde4/config/kdebug.areas". I searched the internet and found some information on problems with opencl a

[2018-02-22 18:07] lissyx commented on #20
@mejch Our code in DeepSpeech relies on this call `MemmappedFileSystem::InitializeFromFile` https://github.com/mozilla/tensorflow/blob/e999fb4ed9c9a8e986ecdbabfa551dc82a3ea0dc/tensorflow/core/util/memmapped_file_system.cc#L189-L190,

which then relies on `MemmappedFileSystem::NewReadOnlyMemoryRegionFromFile`: https://github.com/mozilla/tensorflow/blob/e999fb4ed9c9a8e986ecdbabfa551dc82a3ea0dc/tenso

[2018-02-22 21:14] MichalMrozek commented on #20
Pointer that is being passed to clEnqueueWriteBuffer call is allocated in read_only memory region.
Such pointer cannot be used on the GPU with the current implementation of Kernel Mode driver, that results in exec failure. This is also why doing the copy on the CPU is successful here, as CPU has no problems in reading from this memory.
We are currently working on a solution for this problem.

[2018-02-23 10:10] gipsy100 commented on #22
problem solved: installed libreoffice 6.0.1.1 and it's working again!

[2018-02-23 10:11] #22 closed

[2018-02-23 13:29] lissyx commented on #20
@MichalMrozek And coming back to the high compilation time, one can see the impact when running multiple inferences:
Indeed, when running multiple inferences:
[code]

[2018-02-23 14:19] jchodor commented on #13
SPV_INTEL_subgroups is not yet supported.
Adding new SPIRV capabilities to our OCL driver stack is mainly shader-compiler-driven (https://github.com/intel/intel-graphics-compiler). This applies especially to features that are already supported in our OCL driver stack, but only through OpenCL C kernel language path (like subgroup capabilities).
I've created an issue for intel-graphics-compiler (htt

[2018-02-23 14:49] PiotrRozenfeld commented on #21
Thank you for additional debug of the problem. Your observations and conclusions seem to be valid.

Renaming libcommon_clang.so to avoid dependency conflict (to libopencl_clang.so to match repository name?) seems to be a reasonable short-term solution. We'll drive it with our colleagues maintaining opencl-clang repository.

[2018-02-23 17:54] lissyx commented on #20
@MichalMrozek Comparison with CPU:
[code]

It's interesting that the times are that close :)

[2018-02-23 20:59] #12 closed

[2018-02-23 21:00] MichalMrozek commented on #10
Hello @raunraun , can you check if problem is fixed?

[2018-02-23 21:05] MichalMrozek commented on #19
Closing this as question seems to be answered, feel free to reopen/create new issue if you encounter any problems.

[2018-02-23 21:05] #19 closed

[2018-02-23 21:15] MichalMrozek commented on #15
Can you share some use cases?
Are you interested in reading from such compressed textures?

I was not able to find any reference for the cl_qcom_compressed_image.

In OpenCL we are not able to write to compressed surface from the GPU, this is only available in 3D pipeline, that's why DirectX/OpenGL has the support. OpenCL uses GPGPU Graphics Pipeline that has its limits.

We can potentially suppor

[2018-02-24 00:49] bashbaug commented on #13
Continuing the SPIR-V consumption disucssion from https://github.com/KhronosGroup/SPIRV-LLVM/issues/228:

We do support SPIR-V consumption on shipping Windows and Linux drivers (including the driver in this repo), but as mentioned above we do not currently support our OpenCL extensions via SPIR-V.  We do intend to support some of our OpenCL extensions via SPIR-V in the future though, and you're se

[2018-02-24 03:43] raunraun commented on #10
I'll give it a shot this weekend.  Thanks!

[2018-02-26 03:27] raunraun commented on #10
looks good!  Thanks!

[2018-02-26 04:14] MichalMrozek commented on #10
Thanks for checking, glad to hear that is working :)

[2018-02-26 04:14] #10 closed

[2018-02-26 13:13] MichalMrozek commented on #20
We have an experimental feature called cl_cache that is implemented in the driver.
It automatically creates kernel cache and reuses it.
Feature is not at production quality, but under certain conditions it may work correctly.

Known limitations:
- cl_cache is not process or thread safe, if applications has mutliple threads with compliation problems may occur
- cl_cache doesn't detect that driver c

[2018-02-26 14:20] ArturHarasimiuk commented on #9
starting from commit c50054f787c89d1bbae5dc65d5553a5a40cb996d, the ocl-icd support should work natively, without additional flags.

@raunraun could you please check with version c50054f787c89d1bbae5dc65d5553a5a40cb996d or newer?

[2018-02-26 14:46] lissyx commented on #20
@MichalMrozek Sure, I'm going to give it a try !

[2018-02-26 15:06] lissyx commented on #20
@MichalMrozek It's not working that bad:
[code]

[2018-02-26 16:15] MichalMrozek commented on #20
Cool glad to hear that, however use with caution :)
One thing related to performance.
Can you change following things:
OverrideEnableKmdNotify to 1
OverrideKmdNotifyDelayMs to 1

If there will be any delta, can you try with different values of OverrideKmdNotifyDelayMs ?

[2018-02-26 16:30] lissyx commented on #20
I need to rebuild the driver for those, right?

[2018-02-26 16:42] MichalMrozek commented on #20
Yes that is correct, every change to those variable requires rebuild to obtain new release binaries.

[2018-02-26 16:44] lissyx commented on #20
@MichalMrozek There's some improvement again with those changed:
[code]

[2018-02-26 16:45] lissyx commented on #20
Comparison CPU vs GPU:
[code]

[code]

[2018-02-26 16:46] lissyx commented on #20
@MichalMrozek Any suggestion on the values for `OverrideKmdNotifyDelayMs` that I shoud give a test with?

[2018-02-26 16:54] MichalMrozek commented on #20
Yes , this is not affecting how kernels are compiled

[2018-02-26 17:43] lissyx commented on #20
@MichalMrozek Okay, I'll first evaluate the impact of `OverrideKmdNotifyDelayMs` :)

[2018-02-26 18:50] lissyx commented on #20
@MichalMrozek I'm nearly half way through the values of `OverrideKmdNotifyDelayMs`. It's taking time, each rebuild of the driver takes several minutes, then I run 10 iterations of the benchmark code, and I sometime have to re-run it because Firefox Nightly with WebRender polluted the results :). But I might be able to finish that tomorrow morning (or earlier?)

[2018-02-26 19:10] MichalMrozek commented on #20
I really appreciate your help on this, this data will be very valuable for the further driver development.
There is no rush though, take your time. It's better to have reliable result, then to deliver them faster :)

btw. Do you build just igdrcl_dll target? (cmd "make -j 8 igdrcl_dll")

[2018-02-26 20:31] lissyx commented on #20
@MichalMrozek I'm rebuilding everything, to be sure :). Here are the results:
[code]

I'll give a try to the two other parameters tomorrow :)

[2018-02-27 09:49] lissyx commented on #20
[code]

[2018-02-27 10:05] lissyx commented on #20
@MichalMrozek Forcing 32 bits addressing is a huge failure, lots of segfault, and when it does not segfault, it's slower and the output is wrong:
[code]

[2018-02-27 12:39] MichalMrozek commented on #20
Thank you very much for all those experiments.

It looks like this application really likes going into GPU ( or Kernel Mode Driver ) notify mechanism.
In short this mechanism is responsible for what happens when we wait for GPU, if mechanism is ON then instead of a busy CPU loop, we put waiting thread to sleep, it will be resumed when GPU will finish processing workloads. This mechanism saves powe

[2018-02-28 10:12] lissyx commented on #20
@MichalMrozek Thanks for that message, I was PTO yesterday but I already gave a try to experimenting with the microseconds resolution. However, testing with values 25µs, 250µs and 750µs I could not expose any visible improvement on our usecase. Maybe it does not help, maybe it is just our model that likes values ~1ms. Maybe it is also because it's just an i7-5600U GPU, not super high end recent ha

[2018-03-01 16:41] MichalMrozek commented on #20
Looks like 1 ms may be a sweet spot on BDW.

We have recently fixed the ICD problems.
Can you try with default Ubuntu version of ICD to see if application runs correctly?
Instructions are also updated.

For performance analysis it looks like ContextHintLevel may not be working correctly.
Can you try intercept layer with value 1,2,4 ?

You should be able to receive strings with performance suggesti

[2018-03-02 00:47] bashbaug commented on #20
Note: The controls you should set to see performance hints via the intercept layer are:

[code]

The first control causes the context to be created with performance hints enabled, therefore the driver will call the context callback with performance hint information.  The second causes the calls to the context callback to be included in the intercept layer log.  If this doesn't work for some reason

[2018-03-02 10:21] lissyx commented on #20
@MichalMrozek First element, it seems the ICD loader is working :-), I've removed the khronos icd build I made, updated and rebuilt your driver's package, installed, and it works. There's no extra `libOpenCL*.so` in /opt/intel/ :). I'm looking at the other elements and get back asap

[2018-03-02 10:39] lissyx commented on #20
@MichalMrozek @bashbaug
[code]

[2018-03-02 10:41] lissyx commented on #20
@MichalMrozek When you state

Does it means: `CLI_ContextHintLevel=1`, then `CLI_ContextHintLevel=2` and then `CLI_ContextHintLevel=4` ?

[2018-03-02 16:13] lissyx commented on #20
@MichalMrozek Ok, I lost my day trying to (fail to) get a debug build. It seems `Performance hint` throws as an exception, and it's getting caught by TensorFlow's Eigen. Which makes the session failing :-), so I'm not sure the current output cover the whole run, actually.

[2018-03-02 16:40] bashbaug commented on #20
My guess is that TensorFlow's Eigen (via SYCL) is detecting a call to the context callback as an error and throwing an exception, which isn't terribly surprising since the only reason to call a context callback prior to the performance hints extension was on an OpenCL error.

I'm able to run SYCL programs locally, so I'll see if I can verify this behavior.  If this is what's causing it, I can add

[2018-03-02 16:53] lissyx commented on #20
@bashbaug Nice tip, I think you're right, I'll try the hack :)

[2018-03-02 17:31] lissyx commented on #20
@bashbaug Okay, not sure if it's expected, but commenting this nukes all the performance hint output :'(

[2018-03-02 17:37] lissyx commented on #20
@MichalMrozek @bashbaug here is the complete output. Do you need others?
[perf.intel.streaming.txt](https://github.com/intel/compute-runtime/files/1776061/perf.intel.streaming.txt)

[2018-03-02 17:42] lissyx commented on #20
And FTR, here is the output with the same model, but without using a `mmap()`-able file format. Not that much differences.
[perf.intel.streaming.no-mmap.txt](https://github.com/intel/compute-runtime/files/1776081/perf.intel.streaming.no-mmap.txt)

[2018-03-02 17:50] lissyx commented on #9
@ArturHarasimiuk As documented in issue #20, this works for me on Ubuntu 17.10, thanks for fixing that !

[2018-03-02 17:52] MichalMrozek commented on #20
Ok looking at logs I see some problems in resource creation:

"clCreateBuffer with pointer 0x7f4574e932e0 and size 131072 doesn't meet alignment restrictions. Size should be aligned to 4096 bytes and pointer should be aligned to 4096. Buffer is not sharing the same physical memory with CPU."

This means that applications is calling clCreateBuffer with CL_MEM_USE_HOST_PTR but pointer is not aligned

[2018-03-02 17:54] MichalMrozek commented on #9
Thanks for checking this, I am closing this issue.
@raunraun  feel free to reopen if problem is still visible.

[2018-03-02 17:54] #9 closed

[2018-03-02 17:58] lissyx commented on #20
@MichalMrozek I need to dig into the codebase, I don't know who allocates what is being passed to clCreateBuffer. Worst case, we can always bug ComputeCpp people as well, they are aware of my tentatives with your driver.

[2018-03-02 18:19] bashbaug commented on #20
@lissyx did you enable ContextCallbackLogging?

[code]

If you did, you should see the performance hints information in your log.  If it the performance hint output was previously being done by the application, you won't see this anymore, since you're no longer calling the application's callback.

I'll still add a control to disable calling the application's context callback just in case somebody

[2018-03-02 18:20] lissyx commented on #20
@bashbaug Yes I did, I was calling with those env variables: `LC_ALL=C LD_LIBRARY_PATH=/home/alex/codaz/Mozilla/DeepSpeech/Intel-Neo/cli/_bin CLI_DllName=/usr/lib/x86_64-linux-gnu/libOpenCL.so CLI_LogToFile=1 CLI_CallLogging=1 CLI_DevicePerformanceTiming=1 CLI_HostPerformanceTiming=1 CLI_ContextHintLevel=255 CLI_ContextCallbackLogging=1`

[2018-03-02 18:57] bashbaug commented on #20
@lissyx strange, should be working then.  To confirm, you're seeing other output in your log (such as OpenCL API calls, from CallLogging)?  Since you've also set LogToFile, your log will be in:

 `~/CLIntercept_Dump/(your process name)`.

If you're seeing other output in your log, but not the performance hints, please file an issue against the Intercept Layer and we can discuss further there - tha

[2018-03-02 19:44] lissyx commented on #20
@bashbaug Oh, my bad, I was expecting that on `stderr`, but looking at the log file it seems here. Sorry for the noise then.

[2018-03-05 06:46] crepererum opened #23 "segfault during compilation"
The following build step (and other similar steps) crash:

[code]

Backtrace:

[code]

[2018-03-05 13:31] lissyx commented on #20
@MichalMrozek Okay, so it's confirmed that the (unaligned) allocations are done on the `libComputeCpp` side, so it's out of my hacking hands. Fortunately, we should have some help from CodePlay's side sooner than later, but no timeframe yet :)

[2018-03-06 01:06] dvrogozh opened #24 "OCL NEO driver does not support VAAPI 2.x and iHD media driver"
At the moment OCL NEO driver does not support VAAPI 2.x (thru "cl_intel_va_api_media_sharing")and, hence, iHD media driver: https://github.com/intel/media-driver. This eventually is coming from here: https://github.com/intel/compute-runtime/blob/master/runtime/os_interface/linux/options.cpp#L30.

[2018-03-06 06:34] ArturHarasimiuk commented on #23
@crepererum could you make one experiment by running failing command under the debugger and provide list of loaded shared libraries? under gdb/cgdb this is command `info shared`.

could also you provide more info on distribution you are using?

[2018-03-06 06:54] crepererum commented on #23
Shared library data:
[code]

(as in the stacktrace above I've changed the path prefix for the source dir to `...`)

Distribution is Arch Linux.

[2018-03-06 09:38] JacekDanecki commented on #24
Thx for reporting, I'm working on this already.

[2018-03-06 20:50] MichaelE1000 commented on #21
I just wanted to join in and mention how amazing an OpenSource Implementation for x86-64 CPUs would be! It would allow us to easily ship an additional OpenCL implementation with our application as a fallback for scenarios where the end user is using outdated/buggy graphics drivers. Currently we are planning to look into pocl. Unfortunately it seems to be significantly slower than the Intel impleme

[2018-03-07 14:15] ArturHarasimiuk commented on #23
thank you for additional information. we were able to reproduce issue and analyze it. It looks like there maybe problem with clang version used to build Intel Graphics compiler stack. Everything worked for us with 4.0.1 and failed with 5.0

could you confirm clang version you use. is this 5.0?

[2018-03-07 14:52] crepererum commented on #23
`5.0.1` to be precise, see https://www.archlinux.org/packages/extra/x86_64/clang/

[2018-03-09 07:58] ruiling opened #26 "Failed to build debug version"
I tried to build debug version to do some debugging. but I fail to build it. there are basically two issues.
1. EnableDxbcDump not defined but used in IGC/AdaptorCommon/customApi.cpp
2. an invalid product family was passed in to IGC::SetWorkaroundTable() which triggers an assert there.
please help to fix them.

[2018-03-09 10:03] ArturHarasimiuk commented on #23
I created issue in Intel Graphics Compiler because this is issue with compiler stack.

[2018-03-12 16:41] oscarbg opened #27 "Support new SPIR-V 1.3 subgroup features in OpenCL also?"
Hi,
don't know if a dumb question as perhaps needs some Khronos effort to expose new Subgroups functionality available in Vulkan 1.1 and exposed in SPIR-V 1.3 in OpenCL 2.x also..
don't know exactly how compares to SPV_intel_subgroups but seems rich enough and cross-vendor ext. so would also nice to have support for it..
in has basic, vote,shuffle, shuffle relative, quad ops, etc.. and they are al

[2018-03-16 07:18] mejch commented on #20
Hi @lissyx ,
Problem with read-only memory passed as user ptr to clEnqueueWrite calls or as host_ptr to clCreateBuffer should be fixed with latest commits ( service read_only memory passed to CreateBuffer, Fix indexing of allocated bos in populateOsHandles, Service read only memory passed as host_ptr ).

You may now try to run the app without DoCpuCopyOnWriteBuffer set to = 1.

[2018-03-17 00:02] lissyx commented on #20
@mejch Thanks for the heads-up, I'm syncing and rebuilding :)

[2018-03-17 00:25] lissyx commented on #20
@mejch Quick test shows some progress :)
[code]

So, with `mmap()`-enabled protobuf, now the first inference works, but it fails at the second in a row :).

[2018-03-18 06:49] MichalMrozek commented on #20
Thanks for checking, can you share repro steps for multi file tests?
Also sharing input files would help.

[2018-03-18 16:19] lissyx commented on #20
@MichalMrozek Sure, I'm sending those by email to you.

[2018-03-20 13:45] mejch commented on #20
Hi, I am running the first command line provided with new input files:
./deepspeech ../models/output_graph.pb ../models/alphabet.txt ../audio/ -t

And I get SIGABORT after some mmap operation fails ( from strace ), that does not come from libigdrcl.so:

mmap(NULL, 33558528, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x7fc6b7fee000
mmap(NULL, 201330688, PROT_READ|PROT_WRITE, MAP_PRIV

[2018-03-20 14:18] lissyx commented on #20
@mejch Good catch, it requires some memory: `valgrind --tool=massif` measures a peak in allocation around ~4.5GB on desktop with that model. I can share you smaller model, if it helps.

[2018-03-20 14:27] mejch commented on #20
That would be very helpful for further debugging

[2018-03-20 17:38] lissyx commented on #20
@mejch Should have been shared to your colleague @MichalMrozek, tell me if you run into other issue :-)

[2018-03-21 08:17] mejch commented on #20
Thanks a lot,
with the smaller model (test.frozen.494_e50_master.LSTM.ldc93s1.pb2 ) i have PASS.

But I was not able to reproduce the problem with output_graph.pbmm.
I pushed one fix  - Free allocated BOs for read-only user pointer - Can you check if it resolves the problem?

From log above I see that abort was called :
Abort was called at 180 line in file:
/home/alex/codaz/Mozilla/DeepSpeech/Inte

[2018-03-21 12:12] lissyx commented on #20
@mejch Interesting. Unfortunately, I won't be able to test that soon, for personnal reasons, but as soon as I can, I'll keep you posted.

[2018-03-21 12:17] mejch commented on #20
Ok, no problem, I'll try on different machine and let you know if i was able to reproduce and fix this.

[2018-03-23 11:51] BartoszDunajski commented on #20
@lissyx I added few additional improvements for Kmd Notify mechanism (0e41bc7).
Performance should be improved significantly.

[2018-03-24 09:42] jchodor commented on #27
That's definitely not a dumb question as having Vulkan SPV subgroup features in OCL could be useful. However, this would require some effort on our GPU compiler side (SPV reader, etc.) and is not currently available.
For the time being, have you tried using OCL 2.1 subgroups (core OCL feature) with SPV (which should be already available)?

[2018-03-24 11:59] MichalMrozek commented on #15
Hello @oscarbg
Can  you provide more details ?
Is this still relevant after my update?

[2018-03-28 14:13] #21 closed

[2018-03-28 20:33] vvoznesensky opened #30 "Neo does not support non-uniform work group sizes?"
Hello.

clEnqueueNDRangeKernel returns "CL_INVALID_WORK_GROUP_SIZE if local_work_size is specified and number of work-items specified by global_work_size is not evenly divisible by size of work-group given by local_work_size"

I use Intel Core i3-6100 processor.

[2018-03-28 20:50] zzdanowicz commented on #30
Hi,
Can you tell us how you build the kernel you have enqueued using clEnqueueNDRangeKernel call? I would like to know the value of _options_ argument of clBuildProgram call.
Can you provide values of arguments _work_dim_ _global_work_size_ _local_work_size_ of clEnqueueNDRangeKernel call?

According to OpenCL spec, You can provide non-uniform _local_work_size_ only when program is built as OpenCL

[2018-03-29 00:33] oscarbg commented on #27
yep.. but seems shuffle instructions are missing.. intel subgroups extensions supports it.. but mostly interested also on SPIR-V support and that's why asked previously about SPV_intel_subgroups extensions..
but now seems better to support the new standard SPIR-V 1.3 subgroups extensions altough understand may take some time..

[2018-03-29 01:04] vvoznesensky commented on #30
Thank you Zbigniew, I have misunderstood clBuildProgram semantics.

[2018-03-29 01:04] #30 closed

[2018-03-29 10:15] mejch commented on #20
Hi @lissyx ,
I managed to reproduce the SIGABORT, I also pushed a fix:

User pointer read-only memory fix - aa088da8d3ef41677fc26c5aa1d80a7fdee00cee
With this fix deepspeech finished successfully.

[2018-03-29 10:50] lissyx commented on #20
Awesome, I'll try to find some time to test that asap, but I cannot promise any ETA :)

[2018-03-30 07:01] MichalMrozek commented on #15
Closing due to longer then one month inaction.
Feel free to reopen.

[2018-03-30 07:01] #15 closed

[2018-03-30 08:43] mejch commented on #20
No problem, I hope your issues are fixed now.

[2018-04-05 11:15] rojkov opened #32 "Missing documentation on how to build and run an OpenCL example program"
I managed to successfully build the runtime as a deb package and after its installation `clinfo` reports platforms and devices correctly. But now I'm struggling to compile an example program like [1]. It builds and works perfectly when linked to Beignet.

With the current runtime I get
[code]

`readelf` shows that the missing functions exist in the lib, but not exported for some reason. The only e

[2018-04-06 14:39] MichalMrozek commented on #20
In terms of GPU performance we are comparing Intel® HD Graphics 5500 and Intel® UHD Graphics 620.
Both have the same number of execution units which is 24.

 Intel® HD Graphics 5500 has theoretical compute power of ~364 GFLOPS while  Intel® UHD Graphics 620 has ~384-400.

Bottom line here is that for compute bound workloads performance delta may follow theoretical compute power, which is not signi

[2018-04-06 14:44] MichalMrozek commented on #13
Looks like questions were answered, if anything is still unclear feel free to reopen.

[2018-04-06 14:44] #13 closed

[2018-04-09 07:05] rojkov commented on #32
Thank you for the explanation!

There's no particular reason. For a newbie like me it's just unusual that a lib is supposed to be used through an additional layer of indirection. Probably the deb package could have a binary dependency on the ICD library declared to give users a hint.

[2018-04-10 18:19] MichalMrozek commented on #32
With commit b397499 our Readme file is updated,

[2018-04-11 05:33] MichalMrozek commented on #26
According to intel/intel-graphics-compiler#9 problem is fixed.
Feel free to reopen above issue if you still see the problem.

[2018-04-11 05:33] #26 closed

[2018-04-11 11:51] MichalMrozek commented on #32
We had an internal discussion about adding binary dependency on ICD for deb package and we fell that it's not a correct thing. This is due to the fact that we don't require ICD to install the driver and we do not want to warn/fail at the installation time about its absence. We feel that it is applications responsibility to link properly and check for its dependencies.

At this moment we think that

[2018-04-11 11:51] #32 closed

[2018-04-11 20:47] allanmac opened #33 "clGetDeviceInfo(CL_DEVICE_VERSION) demands too large of a buffer"
The spec says that the CL_INVALID_VALUE will be returned if the size is less than the declared return type.

The NEO driver (.5018) on Windows 10 returns CL_INVALID_VALUE if the buffer isn't at least 16 bytes which happens to be large enough for the complete device string: "OpenCL 2.1 NEO " + NUL.

I expect clGetDeviceInfo(char[]) to record a trailing NUL but otherwise work on a buffer of 1 byte o

[2018-04-12 06:31] MichalMrozek commented on #33
Currently when driver is being queried for CL_DEVICE_VERSION size it will return 16.
If I understand correctly you want to pass value lower then 16 to be populated.
I don't think this is valid according to the specification:
"param_value_size specifies the size in bytes of memory pointed to by param_value. This size in
bytes must be >= size of return type specified in table 4.3."
And here we retur

[2018-04-12 11:00] oscarbg opened #34 "Any ETA for Fine grained SVM on Skylake?"
Hi,
thanks first for providing precompiled binaries on a weekly basis!
I see you keep adding "Fine grained SVM is not supported in this release" in all releases..
it's coming soon? Any ETA to share?

thanks..

[2018-04-12 11:09] MichalMrozek commented on #34
This support is dependent on the Kernel patch.
We have infrastructure in Neo ready to turn it ON, we just need properly patched Kernel.

See https://patchwork.kernel.org/patch/10292273/ for Kernel patch and our pull request for Neo support https://github.com/intel/compute-runtime/pull/29

[2018-04-12 11:26] oscarbg commented on #34
thanks for details..
when have time will try patching kernel and compiling..

2018-04-12 13:10 GMT+02:00 Michal Mrozek <notifications@github.com>:

[2018-04-12 16:20] allanmac commented on #33
I read the spec as the return type is "char[]" implying the array should be at least 1 byte.

Similarly, params with a return type of "cl_uint" require at least 4 bytes.

The problem with your interpretation of the spec is that a vendor's OpenCL device could have an exceptionally long version string and it would break existing binaries.

[2018-04-12 23:32] oscarbg commented on #34
Forgot to add that hope Neo patch gets merged so I can test with patched kernel and weekly Neo builds.. as building Neo requires over 10GB free space and even more time than kernel compile..
How much delay between a commit is merged and appearing on a weekly build?

[2018-04-13 09:50] MichalMrozek commented on #33
OpenCL calls can be used to obtain the size that needs to be allocated, see commit a6459b0496d2b7eeb25dd8bcd19d8c69f2d289a7.

First call is obtaining the size and second call is passing proper size.
[code]
now with known size proper char array can be allocated:

std::unique_ptr<char[]> deviceVersion(new char[sizeReturned]);

and passed to getDeviceInfo

[code]

I believe with this approach you can

[2018-04-13 14:31] #24 closed

[2018-04-13 17:04] allanmac commented on #33
Yes, I understand the "size before reading" approach.

I think the OpenCL spec should be more precise about when the CL_INVALID_VALUE error is returned.

Instead of:

It should read:

[2018-04-13 17:04] #33 closed

[2018-04-14 14:04] MichalMrozek commented on #20
@lissyx looks like all the problems are resolved, can we close this issue ?

[2018-04-14 14:39] lissyx commented on #20
@MichalMrozek It's fine by me. Is that an issue if I post new comments to update on latest retries ? What would be the best communication channel for further discussion about improvements, if needed ? Filing a new issue ?

[2018-04-14 15:35] MichalMrozek commented on #20
For me I like the 1 problem/suggestion == 1 issue approach.
If all problems mentioned here are fixed then I suggest to close this issue.
If you have any new problems / improvement suggestions I suggest to create new issue.
Frankly, this started as ICD problem which is fixed for a very long time, for the sake of the reader it is better to encapsulate problems with proper description.

[2018-04-14 15:55] lissyx commented on #20
@MichalMrozek I totally agree with you, let's close this, but I'll keep the work going :). Thanks for your help, we made a lot of progresses :)

[2018-04-14 15:55] #20 closed

[2018-04-16 13:41] MichalMrozek commented on #34
We are currently doing weekly releases.
In worst case scenario you may expect up to 2 weeks delay between commit merge and release ( commit is merged right after a release candidate is selected )
Normally delay time will be much shorter, i.e. last release is basing on the commit that was merged 3 days ago (2ebd20d29e87cd208c231acfcd7d9a1808c00d5e)

[2018-04-18 14:47] oscarbg commented on #34
thanks for info..

[2018-04-19 14:15] jchodor commented on #27
good news on SPV_intel_subgroups - support for this extension was added to our graphics compiler : https://github.com/intel/intel-graphics-compiler/commit/dbb9f9f194473f1d33bad3808ee47fc9fa429499#diff-c9f9f38fbdf6b0e38ae7cf69d27db022.

[2018-04-19 17:13] oscarbg commented on #27
thanks @jchodor..
wouldn't have noticed from commit message!
seems is in master for a couple of weeks already..
might assume doesn't need additional enablement from "compute-runtime" any other than using up to date intel/intel-graphics-compiler, right?
sadly latest prebuilt binaries (2018ww15-010713) still using intel/intel-graphics-compiler@cf24afc which is older than needed..
hope next week preb

[2018-04-19 17:18] oscarbg commented on #34
Hi @MichalMrozek,
I was pointed out that:
"good news on SPV_intel_subgroups - support for this extension was added to our graphics compiler : intel/intel-graphics-compiler@dbb9f9f"
seems is in master ( intel/intel-graphics-compiler) for a couple of weeks already..
sadly latest prebuilt binaries (2018ww15-010713) still using intel/intel-graphics-compiler@cf24afc which is older than needed for testi

[2018-04-20 01:36] eaglgenes101 opened #35 "GPU hang on Intel Core i7-7500U CPU"
With integrated gpu cycles free to burn on my Ubuntu system, I decided to run https://github.com/gcp/leela-zero with this driver. In the middle of the self-tuning process, it hung, with the following dmesg messages shortly after about 6 seconds of screen freeze:

    [ 6583.292439] [drm] GPU HANG: ecode 9:0:0x8ed9fff2, in leelaz [9165], reason: Hang on rcs0, action: reset
    [ 6583.292441] [drm]

[2018-04-20 05:26] MichalMrozek commented on #35
Hello,
I have reproduce this problem and root caused it.
This is due to the fact that application is passing local work group size then device supports.
Driver should report an error here, while it doesn't.
I am currently fixing this problem.

[2018-04-20 19:40] eaglgenes101 commented on #35
Yes, it works. There's a performance reduction of about 10% compared to beignet, but that's another issue for another time.

[2018-04-21 04:40] MichalMrozek commented on #35
Glad to hear that problem is fixed.

[2018-04-21 04:40] #35 closed

[2018-04-23 13:47] jchodor commented on #27
Using updated compiler should be enough. Please let us know if you encounter any issues.

[2018-04-23 15:12] oscarbg commented on #34
Great work guys! Thanks..
Will test it soon.. also will keep an eye on Windows driver hope it gets support also within a month or two..

[2018-04-25 12:28] anadon opened #37 "Add a reported compatibility matrix."
While only Ubuntu 16.04 is targeted, could a compatibility matrix or chart be added to track how it is working on other platforms?

[2018-04-25 12:39] anadon opened #38 "Looking at the contribution guidlines, travisCI would be a good idea"
Looking here: https://github.com/intel/compute-runtime/blob/master/documentation/RELEASES.md

it seems like adding travisCI integration would make like easier.

[2018-04-25 14:15] anadon opened #39 "build failure"
In the "Copying OCaml library component llvm_X86.cmx to intermediate are" invoked from `cmake -DBUILD_TYPE=Release -DCMAKE_BUILD_TYPE=Release ../neo` when following the build instructions gives the following error:

[code]

which seems to imply that configuration requires root.  This looks like a minor bug, but it does cause fairly significant worry for packagers.

[2018-04-25 15:14] ArturHarasimiuk commented on #39
We shouldn't see this:
`
file cannot create directory: /usr/lib/ocaml/llvm
`
We don't need root during the build and we do these as regular user. Please provide more data so we can help with this:
- Which Linux distribution are you using?
- Can you share complete build log?
- Please provide root folder of your workspace.

[2018-04-25 15:43] anadon commented on #39
The problem is actually in the make stage, sorry.  Anyways, here are the configuration and build logs respectively:
https://gist.github.com/fe1293dc3daf33a0765793b731b44563
https://gist.github.com/658bc4d124fbb2d1ecb4eaa10b26efc4

[2018-04-25 17:56] MichalMrozek commented on #34
New release is available
https://github.com/intel/compute-runtime/releases/tag/2018ww16-010750

[2018-04-25 17:59] MichalMrozek commented on #27
Looks like new release is available
https://github.com/intel/compute-runtime/releases/tag/2018ww16-010750
@oscarbg can we close this issue ?

[2018-04-26 14:03] ArturHarasimiuk commented on #39
thanks for data. We will investigate issue carefully and contact you with results.

[2018-04-27 07:51] PiotrRozenfeld commented on #37
At this moment, we only validate on Ubuntu 16.04.3 LTS. Validation under other distros is planned in the future (in limited fashion).

For the purposes of the compilation, we test several versions of gcc and clang, as mentioned [here](https://github.com/intel/compute-runtime/blob/master/documentation/RELEASES.md#quality-expectations).

Example distributions we use for compilation check include:
•

[2018-04-27 09:24] anadon commented on #37
Yes, but crowd-sourcing functional compatibility is a useful tool to track progress of development as well as being useful to users to know if they are likely to get Neo to work on their system or know that it won't work.  It is a few minutes of work which allows gathering of some very useful information.

[2018-04-27 09:45] PiotrRozenfeld commented on #38
We agree with you, we are already looking into integration with Travis CI (or alternative).
Will keep the issue open until we either have initial integration deployed, or at least more elaborate plan added to FAQ.md

[2018-04-27 12:58] anadon commented on #38
Here are a few other continuous integration tools which you may be interested in then, like Appvoyer, codecov.io and coveralls.io .

[2018-04-27 19:50] ArturHarasimiuk commented on #39
I was able to reproduce issue. Could you please confirm which of these packages are installed on your system:
- llvm-ocaml
- ocaml
- ocaml-compiler-libs
- ocaml-ctypes
- ocaml-findlib
- ocamlbuild

For some reason presence of ocaml caused failure described in this issue.

[2018-04-27 20:27] anadon commented on #39
[code]

[2018-04-27 20:34] anadon commented on #39
In either case, anything in /usr should be viewed as a system privileged write.  RHEL for instance will never upstream this if you require writing to that directory.  An option may to be to list it as a build dependency.  I will assert that the most pressing technical task for this project is to improve the condition of the build system and dependencies, even above core OpenCL bugs present.

[2018-04-28 08:53] PiotrRozenfeld commented on #37
We would like to avoid publishing information that may degrade over time.
Example: we know that latest NEO driver builds with Arch Linux, but this may not be true moving forward unless we add periodic verification. The codebase keeps evolving.

Instead, we are considering adding compatibility information for weekly releases. Example: we may declare that 2018ww18 release and a corresponding set of

[2018-04-28 10:59] anadon commented on #37
OK, that makes sense.

[2018-04-29 09:37] CNugteren opened #40 "Build failure of test_kernel_Gen9lp with Debian 9 and Skylake GPU"
I'm on a Debian 9 system with an Intel Core i5-6200U CPU with a HD Graphics 520 (Skylake ULT GT2) GPU. I'm following the instructions for building on Ubuntu, except that I had to build Clang 4.0 myself from source.

I'm getting quite far with building the whole thing, but then I encounter the following issue (single-threaded make):
[code]

Have you seen this before? Did you ever build the software

[2018-04-30 13:14] JacekDanecki commented on #40
Can you check with components revisions from the latest release: https://github.com/intel/compute-runtime/releases/tag/2018ww16-010750
We've observed similar issue, when components we depend on, were not synchronized.
I'm preparing setup with Debian 9 just now, as we did not test building on Debian yet.

[2018-04-30 19:29] CNugteren commented on #40
I checked out the versions of the packages as you suggested, but now I get an error with CMake (3.7.2):
[code]
Anyway, I also saw a .deb package on the release page you pointed at. I installed that and it does seem to work.

[2018-05-01 11:55] kubrickfr commented on #40
I'm having the same issue on Arch Linux (undefined reference to `_Z12get_local_idj()')

[2018-05-01 18:13] CNugteren opened #41 "Segfault in clReleaseProgram when using shared_ptr"
I'm on a Debian 9 system with an Intel Core i5-6200U CPU with a HD Graphics 520 (Skylake ULT GT2) GPU. I've installed the .deb driver from https://github.com/intel/compute-runtime/releases/tag/2018ww16-010750

I'm wrapping a `cl_program` object in a class with constructor/destructor. When I use that object with a `std::shared_ptr` and store it in a cache, I'm encountering a segfault in `clReleaseP

[2018-05-02 08:00] kodonnell commented on #41
I'm also getting this on HD 6000. I tried it on a fresh ubuntu 18.04 install, without any other OpenCL drivers, and it still fails. (For a while I suspected it was an issue with multiple.)

[2018-05-02 11:10] JacekDanecki commented on #40
I've reproduced this issue on my side. It looks like the HEAD of IGC builds correctly with older Neo, but the HEAD of Neo builds with older IGC. I'm looking at this.
@CNugteren in case of cmake error you've observed after changing components versions, you need to clean your build directory and start new build.

[2018-05-02 12:00] JacekDanecki commented on #40
@kubrickfr As we don't provide (at this moment) package for Arch, you can recompile with versions I've mentioned earlier or you can use deb package from the latest release. To do this you need to install 2 packages from AUR:
https://aur.archlinux.org/packages/dpkg
https://aur.archlinux.org/packages/ncurses5-compat-libs
and then install Neo package using dpkg-deb tool:
dpkg-deb -x intel-opencl_2018

[2018-05-02 19:35] CNugteren commented on #41
OK, with some help I found the issue here. It is actually because of the undefined order of destruction of global objects. The cache is one such object here, but Intel's driver also has some global objects. They get destructed earlier in this particular case, causing the `clReleaseProgram` to fail since the driver is already half destructed.

Adding a `cache.clear()` at the end of the main functio

[2018-05-03 12:36] lissyx opened #42 "kernel: Failed to release pages: bind_count=1, pages_pin_count=1, pin_global=0"
Trying to run on current master of the driver, ubuntu 18.04 (kernel 4.15), and using `mmap` for the file, I got that in the kernel logs:

[code]

So far, a one-time message, but this might be a hint of something?

[2018-05-03 12:54] lissyx commented on #20
@BartoszDunajski I played a bit with those on my new laptop, and it looks like specific tuning is not required anymore ! Thanks !

[2018-05-07 17:27] MichalMrozek commented on #42
Hello,
Thanks for report, this looks very similar to this:
https://bugs.freedesktop.org/show_bug.cgi?id=104512

Can you try on kernel 4.16.0-rcX ?

[2018-05-07 17:30] lissyx commented on #42
On this laptop, it might be a bit tricky, it's not packaged, so I'll have to build 4.16 or use one of the mainline kernel. But looking at the report, it might be just completely unrelated to the driver then. Maybe we should just close that then.

[2018-05-07 19:01] MichalMrozek commented on #42
I agree that closing may be a reasonable move, if it doesn't reproduce on 4.16 then most likely this is the same problem.

[2018-05-09 01:19] laolei commented on #40
I met the same issue on Ubuntu. I checked the failure cl. It's very simple.
__attribute__((intel_reqd_sub_group_size(8)))
__kernel void
CopyBuffer(
    __global unsigned int* src,
    __global unsigned int* dst )
{
    int id = (int)get_global_id(0);
    dst[id] = src[id];
}
@JacekDanecki Do you have solutions now? thanks

[2018-05-09 16:08] vvoznesensky opened #43 "Does Neo support work_group_reduce_min?"
Hello.

`1:16:24: error: implicit declaration of function 'work_group_reduce_min' is invalid in OpenCL
            dist_i_j = work_group_reduce_min(dist_i_j);
                       ^
1:16:24: note: did you mean 'sub_group_reduce_min'?
CTHeader.h:5863:39: note: 'sub_group_reduce_min' declared here
double  __attribute__((overloadable)) sub_group_reduce_min( double x );

[2018-05-09 18:12] MichalMrozek commented on #43
Hello,
This should be supported for OpenCL 2.0+ devices.
Do you compile your kernel with -cl-std=CL2.0 build option ?

[2018-05-09 18:26] vvoznesensky commented on #43
BTW, I use pyOpenCL.

It looks like the OpenCL compiler does not change it's behavior when adding -cl-std=CL2.0 option to build() arguments.

Anyway, sub_group_reduce_min is a OpenCL 2.0 feature and the compiler sees it, so does build option changes anything?

[2018-05-09 18:45] MichalMrozek commented on #43
Yes it does, if cl-std is not specific then it goes to 1.2 where this function is not supported.

According to spec:
"If the –cl-std build option is not specified, the highest OpenCL C 1.x language version supported by each device is used when compiling the program for each device. Applications are required to specify the –cl-std=CL2.0 option if they want to compile or build their programs with Op

[2018-05-10 13:38] tremmelg opened #44 "Support for SPIR-V Specialization Constants"
Is there an estimate of when the Compute Runtime will support [SPIR-V specialization constants](https://www.khronos.org/registry/spir-v/specs/1.2/SPIRV.html#_a_id_specializationsection_a_specialization) and the corresponding [OpenCL 2.2 API](https://www.khronos.org/registry/OpenCL/specs/opencl-2.2.html#_setting_spir_v_specialization_constants)? Perhaps as an extension before OpenCL 2.2 support its

[2018-05-12 17:52] alheinecke opened #45 "CentOS 7.5 RPM Installation Fails"
Hi,

I checked out all the version you used in your latest release and built from scratch (your instructions are a bit incomplete as still the google libs for test needed) and everything goes through fine and without any issue.

However installing the rpm-packages fails:
rpm -i intel-opencl-1.0-0.x86_64-igdrcl.rpm
	file /opt from install of intel-opencl-igdrcl-1.0.0-1.x86_64 conflicts with file fr

[2018-05-17 09:07] PiotrRozenfeld commented on #44
We are exploring how to fit this into our current schedule. OpenCL 2.2 effort will start no sooner than in Q3. Once it begins, you will be able to see our progress as development will be done on master branch.

[2018-05-18 11:46] JacekDanecki commented on #45
Thanks for reporting. I'll look at this.

[2018-05-18 12:19] anadon commented on #38
Cool!  With Arch, Ubuntu, and Fedora the three large families of distros appears to be represented.  Over time, it would still be good to expand on this but not as high of a priority.

I will bring up appvoyer again because then you could do the same with Windows which would help save time on maintaining multiple highly similar code bases and allow them to be the same code base.  That in turn shou

[2018-05-18 14:02] JacekDanecki commented on #38
At this moment we don't support Neo compilation under Windows using open source components.
In case of tested compilers to compile Neo, at this moment we use gcc: 5, 6, 7 and clang 4, 5 with different minor versions. Compilation with gcc 8 and clang 6 fails, and is on our todo list.

[2018-05-19 01:31] MichalMrozek commented on #42
Any luck with kernel 4.16?

[2018-05-21 09:27] AdamCetnerowski commented on #34
To address your original question:

We are working on getting the coherency control patch into the upstream kernel. We don't have a specific date for that to happen. Once it does, we will add the required code to NEO without delay.

Let us know, if you prefer to keep this issue open. Otherwise we'll close it.

[2018-05-21 17:48] JacekDanecki commented on #40
New fixes were merged and components with below revisions compile correctly:
* intel/intel-graphics-compiler@c670611c2605d3ebec0c2824f6d599beff55d2bd
* intel/compute-runtime@d2817427afd0aab8dc7248dd69b5fd298347e107
* intel/llvm-patches@7ac2c8a04178cf90365eeba15c63028a26409de0
* intel/opencl-clang@9b2473dc76bca8e58bf90e859a87f97ed1ca962c
* intel/gmmlib@247673f8e487d62b818876dc1905036e477986c1

[2018-05-22 08:19] ArturHarasimiuk commented on #39
Issue is within intel/opencl-clang component. I've created issue in this project.

I will close this issue. Please feel free to contact us in case of further questions or problems.

[2018-05-22 08:19] #39 closed

[2018-05-22 20:47] grmat commented on #38
Could you open a separate bug for this, so it can easily tracked?

I was interested in neo and created a [PKGBUILD], the standard format shell script for automated package builds for Arch Linux. Right now, I'm also using gcc54, as that's already in the official repos, but it's not usual and has some kind of exceptional position because it's required for CUDA and might be dropped out of the repos a

[2018-05-23 04:00] anadon commented on #38
@grmat As mentioned above

Also, you should be using the gcc base package for Arch, not gcc54.  gcc will always be there and maintained, but gcc54 is for compatibility purposes.

Arch may work, but should not be officially supported since it is a rolling distribution and at regular times breaks itself.

@JacekDanecki There is a good suggestion here of building and testing off of a PKGBUILD.  There

[2018-05-23 08:57] adydychk opened #46 "Publish rpm in Github releases"
Hi guys,
Do you have any plans to publish `.rpm` for CentOS in Github releases?

You have already `.deb` packages [here](https://github.com/intel/compute-runtime/releases/tag/2018ww19-010806) but it would be nice to have `.rpm` too.

[2018-05-23 09:39] grmat commented on #38
You basically just repeated what I already wrote. The sole reason 5.4 is used right now is that it doesn't build with gcc8, hence I was asking for the status.

It does not break "itself"...

[2018-05-23 10:48] JacekDanecki commented on #40
Closing this issue, as provided fixes resolved compilation issues. Feel free to reopen it when it doesn't work for you.

[2018-05-23 10:48] #40 closed

[2018-05-23 16:15] oscarbg commented on #34
Hi,
nice to know..
I close it..
thanks..

[2018-05-23 16:15] #34 closed

[2018-05-24 11:12] JacekDanecki commented on #38
Current CI scripts build Neo using IGC binaries from the latest release. This is why I did not create PKGBUILD as you've prepared.
At this moment full build on Travis is not possible, because of build time limits.
You don't need to clone gmock/gtest anymore as they are included in third_party/gtest directory.
Fixes to compile Neo with gcc-8 have been just merged, and Travis builds with gcc-8 are t

[2018-05-24 12:09] AdamCetnerowski commented on #46
It is our intention to provide binary releases for multiple distros. We are working out a process, which would allow us to automate this. This will make it possible to scale the number of distros we support this way.

Distros under consideration for first wave: Arch, Fedora, CentOS

Feel free to either close the issue, if this answer is satisfactory or keep it open until we start delivering CentOS

[2018-05-24 12:31] adydychk commented on #46
Thanks for the clear answer. I will keep it open until first CentOS `.rpm` drop :)

[2018-05-24 22:12] JacekDanecki commented on #45
I can't reproduce this issue on my side. I've executed compilation in fresh Centos 7.4 docker container upgraded to Centos 7.5. Logs from installation after build

Run CPack packaging tool...
CPack3: Create package using RPM
CPack3: Install projects
CPack3: - Run preinstall target for: igdrcl
CPack3: - Install project: igdrcl
CPack3: -   Install component: igdrcl
CPack3: Create package
CPackRPM: W

[2018-05-25 06:43] JacekDanecki commented on #38
I'll close this issue, as initial integration with Travis was implemented and deployed. I'm still working on tuning it, so you can expect more changes soon. Please reopen it when needed or file new issue.

[2018-05-25 06:43] #38 closed

[2018-05-25 06:59] JacekDanecki commented on #37
I think I can close this issue, as you can find initial compatibility matrix in case of Neo building on Travis: https://travis-ci.org/intel/compute-runtime. Other configurations were mentioned in [this](https://github.com/intel/compute-runtime/issues/38) issue, and our intention to provide binary packages for different distributions was presented [here](https://github.com/intel/compute-runtime/iss

[2018-05-25 06:59] #37 closed

[2018-05-25 22:06] kodonnell opened #47 "'IKBL_GT2_R_ULX_DEVICE_F0_ID' was not declared in this scope"
Build breaking on i5-5250u. Seems to be from [this](https://github.com/intel/compute-runtime/commit/09401632b704468af9a5334f929afd8b8cf74978#diff-7cae45e3df4dcd1c86834ee39bdfde4c) commit. Cc @LukaszJobczyk

[code]

[2018-05-26 00:27] kodonnell commented on #47
Hmmm, this might be associated with building in docker without /dev/dri exposed.

[2018-05-26 09:43] #47 closed

[2018-05-26 19:27] kodonnell opened #48 "Docker builds?"
Not sure if there's enough demand, but docker builds on some common OSes would be great:

- users can use the image directly
- users can inspect the dockerfile to see how it's compiled etc.
- this could integrate with #46 in that each docker container could build the required package for each OS etc.

[2018-05-26 19:30] kodonnell opened #49 "Build fails without `opencl-headers` installed"
Following the wiki (in a docker container from a blank Ubuntu 18.04 image), I get the error below. `apt install opencl-headers` fixes this. I find it odd, as it appears to me that we are building the headers too - so maybe they're built but not being recognized?

[code]

[2018-05-27 00:10] kodonnell commented on #49
Closing as I assume it's related to the recent change in the instructions, and the addition of `ln -s khronos opencl_headers`.

[2018-05-27 00:10] #49 closed

[2018-05-27 07:33] enihcam opened #50 "segfault when running clinfo"
1. Install https://github.com/intel/compute-runtime/releases/download/18.20.10830/intel-opencl_18.20.10830_amd64.deb
2. run 'clinfo'

[code]

[2018-05-28 09:39] JacekDanecki commented on #50
Could you provide more details about your testing platform? What OS are you using, what hardware (lspci output), what kernel? Can you provide backtrace from clinfo executed under gdb, or log from clinfo executed using strace? Output from ldd /opt/intel/opencl/* can also help to check whether all required libraries are installed.

[2018-05-28 10:20] kubrickfr commented on #40
I confirm in now compiles on Arch. However exporting images with darktable with opencl results in crashes all the time. I'll try to get a backtrace and open a new bug report.

[2018-05-28 10:59] JacekDanecki commented on #40
Do you observe crashes in another applications, or the problem is observed only in darktable?

[2018-05-28 12:55] AdamCetnerowski commented on #46
Thank you for the suggestion. This looks like a good reason to add it to our short list.

[2018-05-28 13:40] enihcam commented on #50
[code]

[code]

[code]

It looks like Archlinux does not have `libtinfo.so.5`. Where can I get that?

[2018-05-28 13:48] JacekDanecki commented on #48
Your proposal is already on our todo list. In the meantime users can look at Dockerfile's in script/docker directory, to see how to compile Neo using IGC from binary releases under different distributions. These Dockerfile's can be easily extended by adding additional packages.
New configs are tested in this fork: https://github.com/JacekDanecki/compute-runtime.

[2018-05-28 13:56] JacekDanecki commented on #50
If you want to use Neo binary release on Arch you need to compile ncurses5-compat-libs from https://aur.archlinux.org/cgit/aur.git/snapshot/ncurses5-compat-libs.tar.gz. See script: https://github.com/intel/compute-runtime/blob/master/scripts/build-arch-dep.sh. This script is to test Neo compilation under Arch on Travis using IGC binaries from weekly binary releases.

[2018-05-28 14:01] #50 closed

[2018-05-28 14:51] kubrickfr commented on #40
@JacekDanecki luxmark works fine, editing in Darktable works, only exporting a whole image crashes.

[2018-05-28 16:05] yupinov commented on #41
FYI, have seen similar segfault, but caused by clReleaseKernel() call before even calling corresponding clReleaseProgram().

[2018-05-28 20:08] kodonnell commented on #48
Thanks @JacekDanecki - since it's already on your todo list, I'll leave it to you whether you want to leave this open as a reminder etc.

[2018-05-29 13:27] djdeath opened #51 "Slice/Subslice powergating"
Hi,

We're currently working on a patch series in the i915 kernel driver to enable per context slice & subslice powergating : https://patchwork.freedesktop.org/series/42285/

Currently we have that feature disabled by default in this i915 series and it can be turned on by setting a sysfs entry. This means that the per context settings are ignored by default (and we keep the powergating configurati

[2018-06-01 17:09] lissyx commented on #42
I could not even reproduce that reliably after some kernel upgrades of 4.15. Closing, it's just useless noise.

[2018-06-01 17:09] #42 closed

[2018-06-06 14:41] djdeath commented on #51
Ping?

[2018-06-07 10:22] JacekDanecki commented on #45
Packages (rpm, deb) are created using CPack from cmake. What versions of cmake and rpm do you use?

[2018-06-07 11:59] PiotrRozenfeld commented on #51
This is potentially useful:
* In general, we can tie it with [cl_khr_throttle_hints]( https://www.khronos.org/registry/OpenCL/sdk/2.1/docs/man/xhtml/cl_khr_throttle_hints.html) and disable slices when app provides CL_QUEUE_THROTTLE_LOW to the driver
* Specifically, for inference use cases on edge devices, when the DNN topology used results in underutilized HW, we can use this feature to save on po

[2018-06-07 15:27] alheinecke commented on #45
cmake --version
cmake3 version 3.11.0

rpm --version
RPM version 4.11.3

[2018-06-07 15:32] alheinecke commented on #45
[current_package_list.log](https://github.com/intel/compute-runtime/files/2081090/current_package_list.log)

[2018-06-12 07:34] JacekDanecki commented on #45
I've the same versions of cmake and rpm in docker container, so the problem is somewhere else. Need to investigate farther.

[2018-06-12 10:51] JacekDanecki commented on #41
This issue discovered problem we have not seen so far. We're working on fix, but it's not trivial.

[2018-06-20 06:38] MichalMrozek commented on #23
Looks like problem is fixed on compiler side, closing this one.

[2018-06-20 06:38] #23 closed

[2018-06-22 05:31] YijinLiu opened #55 "Is there any plan to support old architectures like Haswell?"
Or do you expect users to use Beignet for old architectures?

[2018-06-22 08:47] PiotrRozenfeld commented on #55
For Gen8+, NEO replaces Beignet.
For Gen7 (Ivy Bridge) and Gen7.5 (Haswell), Beignet remains the recommended legacy driver, NEO will never support these platforms.

[2018-06-22 15:00] ranocha opened #57 "i7 8700K not found by clinfo on Kubuntu 18.04; missing steps?"
I'm using Kubuntu 18.04 with an i7 8700K and a GeForce GTX 1070 Ti. I've installed the `nvidia-cuda-toolkit` which adds support for OpenCL on the GPU. Then, I followed the build instructions of Intel Compute Runtime and installed `intel-opencl-igdrcl` as described. However, `clinfo` (from the official package lists) is not able to find the Intel OpenCL implementation.
[code]
However, there is an `

[2018-06-22 23:11] alalek commented on #57
Try to track loaded .so files via `LD_DEBUG=files clinfo` (attention for failed loads / strange full paths).

[2018-06-23 04:23] ranocha commented on #57
Thanks for your fast answer. Here is the output:
[code]
There are some errors, but these do not seem to be related to `/opt/intel/opencl/libigdrcl.so`, are they? The errors remain are the same even if I remove `intel-opencl-igdrcl `.

[2018-06-23 07:22] ArturHarasimiuk commented on #57
Hi @ranocha,
could you provide some additional data:
[code]
[code]
[code]
have you tried running clinfo as root user?

[2018-06-23 07:35] ranocha commented on #57
Thank you for your help. Running `sudo clinfo` gives the same results as `clinfo`. Here are the additional data:
[code]

[2018-06-23 08:06] ArturHarasimiuk commented on #57
there is no "00:02.0 VGA compatible controller: Intel Corporation ..." device listed. Most probably device wasn't initialized by BIOS. I think you should inspect BIOS setting and try enabling both integrated and discrete graphics.

[2018-06-23 08:21] ranocha commented on #57
Thank you very much, @ArturHarasimiuk. I've been silly, I'm very sorry. Now, everything works well. Thank you all very much for your great work and patient help!
Maybe a small note in the setup section might prevent other people from bothering you with such stupid problems...

[2018-06-23 08:21] #57 closed

[2018-06-24 10:28] axeldavy opened #58 "In-kernel debugging fails with vtune"
Not sure if this is a bug of vtune, compute-runtime or something else so I post here.

While I finally managed to get vtune to work with compute-runtime (documentation needs to be more explicit ! Only one slide presentation mentions the need for CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS=y, and I had to put libmd.so from intel/metrics-discovery in vtune dir which is documented nowhere !), gpu-hotspots

[2018-06-26 15:26] MichalMrozek commented on #55
Looks like question is answered.

[2018-06-26 15:26] #55 closed

[2018-06-28 11:36] MichalMrozek commented on #41
Hello @CNugteren
I have applied series of patches to fix this problem.
Last one is b7545f14013e391f1fbac616ef09d855dfc97584.
Can you check if the problem is addressed?

[2018-06-29 09:12] PiotrRozenfeld commented on #58
We confirmed we see the same issue on our end. We will follow-up with detailed response as soon as we have clarity what needs to be done to resolve this problem

[2018-06-29 09:16] MichalMrozek commented on #51
Closing. Feel free to reopen if you have additional questions in the future.

[2018-06-29 09:16] #51 closed

[2018-06-29 12:53] JacekDanecki commented on #45
I wasn't able to reproduce this issue on my side. Do you still observe this issue on the latest Neo versions? Can you share your rpm package? I've verified rpm packages on Centos 7.4/7.5, Fedora 27/28 and didn't see problems with installation.

[2018-07-02 19:04] CNugteren commented on #41
Thanks for working on this issue. Last time I got the compiled release, I didn't compile from source. I tried to know, but I could make it work without spending too much time on figuring out what versions of all the repositories I need exactly, running into issues now with the CMake of IGC. Perhaps you can just run the test example I provided again? Or even better: the tests of [CLBlast](https://g

[2018-07-07 09:50] MichalMrozek commented on #41
Attached reproduces work correctly after the fixes.
Basing on that we can assume that problem is fixed.

[2018-07-07 09:50] #41 closed

[2018-07-12 08:50] adydychk commented on #46
Hi,
any progress on this issue?

[2018-07-12 14:43] JacekDanecki commented on #46
Here are repositories with experimental (untested) rpm packages for Fedora 27/28 and Centos 7:

* https://copr.fedorainfracloud.org/coprs/arturh/intel-opencl - production quality
* https://copr.fedorainfracloud.org/coprs/arturh/intel-opencl-unstable - pre-release quality
* https://copr.fedorainfracloud.org/coprs/arturh/intel-opencl-experimental - no quality expectation

Quality expectations are ba

[2018-07-13 11:44] PiotrRozenfeld commented on #58
To resolve this issue, Intel needs to open source gtpin headers (used by the code [here](https://github.com/intel/compute-runtime/tree/master/runtime/gtpin)). We have started discussion with the team at Intel responsible, will update you as soon as we have conclusions.

[2018-07-15 21:28] dbermond opened #61 "Build failure with version 18.27.11048: igfxfmid.h: No such file or directory"
I'm getting the following compile error:
[code]

When using `make` with multiple jobs (`-j` option), it shows multiple occurrences of this not found file `igfxfmid.h`, and also an error complaining about the not found file `gtsysinfo.h`.

- Current git master gives me the same error.

- Version 18.26.10987 builds fine for me.

- A git bisect shows that this is being caused by commit 561cdb7df59528

[2018-07-17 15:09] JacekDanecki commented on #61
I don't see such issue on any build system we use. I was able to compile the whole stack under Arch using AUR package from https://aur.archlinux.org/packages/compute-runtime, and builds on Travis and Semaphore under Arch also passed. Can you provide more details how have you prepared your workspace? What commit ID of gmmlib do you use? Can you also provide output from cmake command?

[2018-07-17 18:22] adamradocz commented on #48
@JacekDanecki, I created a Docker container which makes the build on Ubuntu 18.04. I can make a PR if you like it. You can check out [here](https://github.com/BOINC/boinc-client-docker/blob/master/Dockerfile.intel.build).

[2018-07-17 23:14] Brainiarc7 commented on #61
Reverting the patch still results in a build failure.

[code]

As shown above.

[2018-07-18 11:11] JacekDanecki commented on #61
@Brainiarc7 Error with cloc is different problem. It looks like cloc uses incompatible IGC libraries, or there are missing dependencies. Can you run cloc after setting export LD_DEBUG=libs, and check output from linker?
Yesterday I've built all Neo components using below commits ID's:
* intel/compute-runtime@ 8da3da402fc8e5e2cd2561f209ea9968345b48b1
* intel/gmmlib@1a4cf50767b4ccacc1f6027b1ef2118bc

[2018-07-18 14:14] adydychk commented on #46
@JacekDanecki thank you for the answer. That is much more interesting but CI will be much better :)

[2018-07-18 14:17] Brainiarc7 commented on #61
Yes,

I have older versions of igc, gmmlib and Neo installed. I had been able to generate a working build earlier using these instructions: https://gist.github.com/Brainiarc7/1d13c7f432ba03a8e38720c83cd973d5

I'll share output from Cmake when I'm back on the testbed.

[2018-07-19 10:19] adamradocz opened #62 "NEO is slower than Beignet with Intel HD Graphics 500"
Hi,

I use BOINC on my NAS (Intel J3455 CPU with  Intel HD Graphics 500) and it shows that the NEO driver (72 GFLOPS) slower then the Beignet driver (96 GFLOPS).

![j3455 - beignet](https://user-images.githubusercontent.com/16503773/42936767-51b8ebc4-8b4d-11e8-80d6-c4ee8c8702f2.png)

![j3455 - neo](https://user-images.githubusercontent.com/16503773/42936786-5cee2f0e-8b4d-11e8-9a8a-da19c991b3d7.png

[2018-07-19 11:02] PiotrRozenfeld commented on #62
Could you please provide reproduction steps so we can replicate the issue on our end?

[2018-07-19 11:07] adamradocz commented on #62
I tested with two different Dockers.

Beignet: `docker run -it --name boinc-beignet --device /dev/dri:/dev/dri --rm boinc/client:intel-legacy`

NEO: `docker run -it --name boinc-neo --device /dev/dri:/dev/dri --rm boinc/client:intel`

[2018-07-19 16:34] JacekDanecki commented on #62
I've the same results on KBL machine:
[code]

[2018-07-19 17:01] MichalMrozek commented on #62
@adamradocz  Can you execute clinfo on your Intel HD Graphics 500 and provide a value of

CL_DEVICE_MAX_COMPUTE_UNITS ( Max Compute Units )

with Neo and Beignet ?

[2018-07-19 17:21] adamradocz commented on #62
@MichalMrozek
Beignet:
[code]
Number of platforms                               1
  Platform Name                                   Intel(R) OpenCL HD Graphics
  Platform Vendor                                 Intel(R) Corporation
  Platform Version                                OpenCL 1.2
  Platform Profile                                FULL_PROFILE
  Platform Extensions

[2018-07-19 18:55] MichalMrozek commented on #62
Ok it makes sense now, this is due to incorrect clock frequency reported by the driver.

Neo
Max clock frequency 750MHz

Beignet
Max clock frequency  1000MHz

This device cannot achieve 1000Mhz see here:
 https://en.wikipedia.org/wiki/Intel_HD,_UHD_and_Iris_Graphics

So Neo score is correct.

[2018-07-19 21:48] adamradocz commented on #62
I see. Thank you very much!

[2018-07-19 21:48] #62 closed

[2018-07-20 18:05] dbermond commented on #61
Sorry for the late answer. Got very busy days.

- cmake command and output: [https://bpaste.net/show/5d4481a7d3c8](https://bpaste.net/show/5d4481a7d3c8)

- workspace defined as described in BUILD_Ubuntu.md:
[code]

- gmmlib is at git master

I'm still getting this error when using the current compute-runtime git master: `fatal error: gtsysinfo.h: No such file or directory`.

I do not have any vers

[2018-07-20 19:54] Brainiarc7 commented on #61
In my case:

(a). Cmake output:
[code]

(b). Build error:

Same as above, as commented by @dbermond

[2018-07-21 09:14] jdanecki commented on #61
@dbermond There is gmmlib installed on your system. See line 375 in log you've shared. Can you remove directory /usr/include/igdgmm and installed igdmm.pc file and re-run cmake? I'll look at such case when I'm back in the office.

[2018-07-21 11:46] dbermond commented on #61
@jdanecki I see. I have [Intel Media Driver](https://github.com/intel/media-driver) git master installed on system, but not gmmlib by its own. The `make install` process from media driver installs `libigdgmm.so` and the `igdgmm` headers. I could do a successful build of compute runtime git master after uninstallling media driver.

Curiously, these gmmlib files that are being installed by media dri

[2018-07-23 14:47] JacekDanecki commented on #61
I've reproduced this issue on my side and contacted both media and gmmlib teams. Let's wait for feedback from them.

Headers from common directory are installed in different location, than provided by igdgmm.pc file
[code]

[2018-07-23 16:45] dbermond commented on #61
@JacekDanecki Good to know that you could reproduce it. Thank you for working on this issue.

[2018-07-24 16:29] JacekDanecki commented on #48
@adamradocz Thanks for sharing your repository. If you build using tip repositories you can find some problems with incompatibility between specific versions of components. We've observed such problems already. If you want to use ccache I'd recommend mount your ~/.ccache directory into container to speed up next builds. You can remove packages: autoconf, xutils-dev, libtool, libpciaccess-dev if yo

[2018-07-25 11:01] JacekDanecki commented on #46
For each Neo commit on github there is copr build triggered in [intel-opencl-staging](https://copr.fedorainfracloud.org/coprs/arturh/intel-opencl-staging/) repository for Centos 7, Fedora 27/28/rawhide.

[2018-07-26 12:51] adydychk commented on #46
Thanks

[2018-07-26 14:38] JacekDanecki commented on #48
@adamradocz I'm working on ppa packages for Ubuntu 18.04 right now, so you can expect initial versions today or tomorrow if I don't find some issues specific to bionic release.

[2018-07-26 21:45] JacekDanecki commented on #48
@adamradocz Initial version of packages for Ubuntu 18.04 based on release 18.27.11048 are available in [ppa](https://launchpad.net/~jdanecki/+archive/ubuntu/intel-opencl/+packages?field.name_filter=&field.status_filter=published&field.series_filter=bionic). Newer releases will be added soon.

[2018-07-27 06:37] adamradocz commented on #48
Thank you!

[2018-07-27 11:05] adydychk opened #67 "Build failure with version 18.29.11114"
We tried to compile this pre-release https://github.com/intel/compute-runtime/releases/tag/18.29.11114 and we have problems with KhronosGroup/OpenCL-Headers@f039db6.

We got following failure:
[code]

As you see the output is  `fatal error: 'CL/cl.h' file not found `. And it is true, folders hierarchy in this repositroy with this commit is different if we compare with HEAD status. After that we mo

[2018-07-27 13:02] JacekDanecki commented on #67
External OpenCL headers are needed to compile cclang, and we use opencl22/CL directory
[code]
As reference you can see [spec](https://copr-be.cloud.fedoraproject.org/results/arturh/intel-opencl/srpm-builds/00770166/opencl-clang-4.0.15-ep7.spec) file used to build opencl-clang rpm package in copr.
In [ppa](https://launchpad.net/~jdanecki/+archive/ubuntu/intel-opencl/+sourcepub/9270995/+listing-arch

[2018-07-27 15:54] adydychk commented on #67
We fixed our problem:
1. Took `opencl22/CL` as you mentioned
2. Added file cl_version.h from repo: https://github.com/KhronosGroup/OpenCL-Headers
After that the build and packaging were successful.

Please, fix release notes make it more clear :)

[2018-07-27 16:23] JacekDanecki commented on #67
[cl_version.h](https://github.com/intel/compute-runtime/blob/master/third_party/opencl_headers/CL/cl_version.h) file is in third_party/opencl/CL directory. Where did you observe problem with this header?

[2018-07-30 16:19] JacekDanecki commented on #46
@kodonnell Fix for gmmlib compilation in alpine was added: intel/gmmlib@af2add01200f1d54165732807dfff6415d1e1249

[2018-07-30 19:47] kodonnell commented on #46
Thanks for your work on this @JacekDanecki

[2018-08-01 12:38] JacekDanecki commented on #48
@kodonnell First docker image for Ubuntu 16.04 based on [intel-opencl](https://launchpad.net/~intel-opencl/+archive/ubuntu/intel-opencl) ppa was built on [Semaphore](https://semaphoreci.com/jacekdanecki/neo-hub) using [neo-hub](https://github.com/JacekDanecki/neo-hub) repository and pushed to [intelopencl](https://hub.docker.com/r/intelopencl/intel-opencl) repository.

[2018-08-01 20:43] kodonnell commented on #48
Excellent, thanks @JacekDanecki. I'd be interested in a minimal alpine build, but that can be a future goal.

[2018-08-01 20:43] #48 closed

[2018-08-06 02:00] cwt commented on #45
@JacekDanecki I just build 18.31.0 last night and have the same problem on CentOS 7.5

[code]

Below is the %files section from the generated SPEC `build/_CPack_Packages/Linux/RPM/SPECS/intel-opencl-igdrcl.spec`

[code]

[2018-08-09 12:39] kmazurki commented on #44
We have a preliminary plan to implement spec constants in IGC till the end of Q4, This plan might be however a subject to change based on the progress in external dependencies.

[2018-08-13 18:57] gija92 opened #74 "OpenCL on Minnowboard Max"
Hi everyone,

I'm using a Minnowboard Max with Intel Atom E3825 CPU and its GPU and just compiled and installed the ComputeRuntime (deb-file) on the platform.

But clinfo doesn't get me an OpenCL device like the GPU or CPU. I installed alle required libraries like, ocl-icd, ocl-header and ocl-icd-libopencl1 and also the compute runtime.

Is there any library I have to link somewhere else or am I m

[2018-08-13 19:31] PiotrRozenfeld commented on #74
Could you please confirm this is your CPU?
https://ark.intel.com/products/78474/Intel-Atom-Processor-E3825-1M-Cache-1_33-GHz

This is Gen7 GPU that NEO does not support (we support Gen8 and beyond) - you'd need to use our legacy Beignet solution in your case.

[2018-08-14 12:58] #74 closed

[2018-08-15 01:52] wzw-intel opened #75 "How can I dump ISA?"
Hi,
In Beignet, I can set environment variable OCL_OUTPUT_ASM to "1" to dump Gen ISA.

Is there any similar way for Neo to do that?

[2018-08-15 15:04] alalek commented on #75
Are there some tools to extract ISA from OpenCL kernel binaries / files from "cl_cache" dir?

[Intel OpenCL SDK](https://software.intel.com/en-us/intel-opencl) has OpenCL kernel compiler (including ISA emit), but these tools are outdated and they are not able to work with NEO OpenCL.

[2018-08-16 13:14] MichalMrozek commented on #75
Have you tried this ?
https://github.com/intel/opencl-intercept-layer/blob/master/docs/kernel_isa.md

[2018-08-16 20:31] alalek commented on #75
Awesome! Thank you!

[2018-08-20 12:26] JacekDanecki commented on #45
I'll prepare fresh CentOS 7.5 setup to reproduce this issue.

[2018-08-22 09:29] MichalMrozek commented on #75
Looks like we can close this.

[2018-08-22 09:29] #75 closed

[2018-08-25 11:16] ThijsWithaar opened #76 "Debian package doesn't register the ICD"
When installing the .debs generated using CPack, no .icd is placed in /etc/OpenCL/vendors
clinfo doesn't show the platform.

[2018-08-27 13:14] ArturHarasimiuk commented on #76
which OS you used? which version?

could you share output from command: `dpkg-deb -c <package name>`, where package is generated by CPack.
please attach install log if possible.

[2018-08-27 15:53] ThijsWithaar commented on #76
The os is debian, buster. I've following instructions from [Ubuntu](https://github.com/intel/compute-runtime/blob/master/documentation/BUILD_Ubuntu.md).

The output of dpkg-deb is:

[code]

[2018-08-27 15:57] ArturHarasimiuk commented on #76
thanks. what about 'intel-opencl' package? intel.icd should be there. above packages are IGC specific and we don't use them so far.

[2018-08-27 16:09] ThijsWithaar commented on #76
I'm not sure where the 'intel-opencl' package should come from.
Is there maybe just something silly I'm doing wrong. I followed the Cmake instructions for ubuntu, which gives me the following 4 packages:

[code]

[2018-08-27 16:14] ArturHarasimiuk commented on #76
ok. let me try to reproduce problem on my side.

[2018-08-29 20:43] ArturHarasimiuk commented on #76
@ThijsWithaar could you please share content of CPackConfig.cmake file? it should help in further investigation
this file is generated by cmake during build files generation and can be found in build folder.

[2018-08-30 16:42] ThijsWithaar commented on #76
Sure, it's contents are:

[code]

[2018-08-30 17:49] ArturHarasimiuk commented on #76
thanks!
based on this
[code]
it looks that you tried to build intel-graphic-compiler (igc) not compute-runtime (neo).

could you please double check that path to source in cmake invocation is `../neo` not `../igc`. assuming that ninja is generator, it should be:
[code]

[2018-08-30 18:51] ThijsWithaar commented on #76
Ah, that's the problem indeed.
Thanks a lot for the help.

[2018-08-31 09:50] ArturHarasimiuk commented on #76
excellent! closing issue.

[2018-08-31 09:50] #76 closed

[2018-09-03 10:51] JacekDanecki commented on #45
@johnhable Can you check this PR: https://github.com/intel/compute-runtime/pull/80?

[2018-09-03 11:12] JacekDanecki commented on #67
Closing this issue, as package was created correctly. Please reopen it or create new issue, if you find any issue during build.

[2018-09-03 11:12] #67 closed

[2018-09-04 00:49] wzw-intel commented on #75
@MichalMrozek Thank you very much for your hint.

@alalek Your links are very helpful, thank you.

[2018-09-04 05:50] johnhable commented on #45
Hi Jacek,

Thanks for the update. After applying the update, it builds and the rpm installs cleanly, so I think it's fixed.

John

[2018-09-04 10:30] JacekDanecki commented on #61
Using the latest media-driver and gmmlib code I was able to compile Neo on setup with media  and gmmlib installed.

[2018-09-04 15:51] dbermond commented on #61
@JacekDanecki Are you using intel-media-driver git master or the 18.3.pre2 pre-release?

- compute-runtime git master still fails to build for me when using media-driver git master, giving the same message: `fatal error: gtsysinfo.h: No such file or directory`.

- Situation changes a bit when using media-driver 18.3.pre2 pre-release beucause this version will check if gmmlib is installed and act a

[2018-09-05 10:57] JacekDanecki commented on #45
PR https://github.com/intel/compute-runtime/pull/80 was merged with commit: https://github.com/intel/compute-runtime/commit/b1d020485a7d1f7105a8c9db84c0fc12ff0a0e68, so I'm closing this issue.
If you find any related problems, please create new issue.

[2018-09-05 10:57] #45 closed

[2018-09-05 11:29] JacekDanecki commented on #61
My workspace looks like:
[code]
and I'm using repostitories:
[code]
To compile media-driver, gmmlib and Neo I've used below commands. GmmLib was not installed on the system.
[code]
I've used IGC and opencl-clang from ppa:
[code]
with versions:
[code]

[2018-09-08 17:15] dbermond commented on #61
@JacekDanecki I was using a different gmmlib directory name on the workspace when building intel-media-driver. This was leading to wrong directories at intel-media-driver install time. Using directory `gmmlib` in intel-media-driver workspace makes it install fine.

Anyway, intel-media-driver has allowed again the use of dynamic (installed) gmmlib in their current git master branch since September

[2018-09-08 17:15] #61 closed

[2018-09-12 10:31] KhazAkar opened #84 "<getWGsizes:1175: build program : error -6> line in Preferred work group size multiple under OpenSUSE Leap 15"
Hi everyone! I cannot use compute-runtime, because of <getWGsizes:1175: build program : error -6> in line Preferred work group size multiple when running clinfo, so I cannot use for example DaVinci Resolve or Darktable effectively on my Intel core i7 6820HQ notebook. I'm using prebuilded Fedora 28 package on OpenSUSE Leap 15.
[Here's my clinfo](https://pastebin.com/6DvNZz9W)

[2018-09-12 13:39] KhazAkar commented on #84
It looks like it's glibc problem.
https://pastebin.com/SYpMegBH

[2018-09-12 13:43] JacekDanecki commented on #84
libm.so.6 in OpenSuse Leap 15 is to old to use rpm package for Fedora 26
[code]
libm.so.6 supports:
[code]
You can use rpm package for Fedora 27
[code]

[2018-09-12 13:47] KhazAkar commented on #84
Ok, thank you a lot for this :)

[2018-09-12 13:55] JacekDanecki commented on #84
I've just verified clpeak in OpenSuse docker image
[code]
on Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz, and it works fine. I think we can close this issue.
[code]

[2018-09-12 13:59] KhazAkar commented on #84
Mayby problem in title is resolved, but DaVinci Resolve still cannot see Intel as OpenCL device (darktable can detect it), but this I think is another topic. Thank you very much for support :)

[2018-09-12 14:01] JacekDanecki commented on #84
Can you provide more details about DaVinci problem or create new issue?

[2018-09-12 15:41] KhazAkar commented on #84
Yes, I can provide more details about DaVinci problem - It cannot detect Intel OpenCL, but darktable can see it and use it, with nvidia-computeG04 or libOpenCL1. What's more interesting, it passes clpeak, but when It does it, my desktop can freeze several times with some warning in dmesg, here's my results [here](https://pastebin.com/gARGfUp3). And dmesg warning is: `asynchronous wait on fence i91

[2018-09-12 16:16] KhazAkar commented on #84
Second run of clpeak. Freeze still persits, but that results are worse than previous + lsb-release -a
`khazakar@dellprecision5510:~> clpeak

Platform: Intel(R) OpenCL HD Graphics
  Device: Intel(R) Gen9 HD Graphics NEO
    Driver version  : 18.36.11428 (Linux x64)
    Compute units   : 24
    Clock frequency : 0 MHz

    Global memory bandwidth (GBPS)
      float   : 20.42
      float2  : 21.53

[2018-09-12 16:17] KhazAkar commented on #84
`khazakar@dellprecision5510:~> lsb-release -a
LSB Version:	core-2.0-noarch:core-3.2-noarch:core-4.0-noarch:core-2.0-x86_64:core-3.2-x86_64:core-4.0-x86_64:desktop-4.0-amd64:desktop-4.0-noarch:graphics-2.0-amd64:graphics-2.0-noarch:graphics-3.2-amd64:graphics-3.2-noarch:graphics-4.0-amd64:graphics-4.0-noarch
Distributor ID:	openSUSE
Description:	openSUSE Leap 15.0
Release:	15.0
Codename:	n/a
khazak

[2018-09-13 12:47] JacekDanecki commented on #84
As I can see in /opt/resolve/logs/ResolveDebug.txt, Davinci skips Neo driver
[code]

although: oclBandwidthTest and  oclDeviceQuery work fine.

Looking at: https://documents.blackmagicdesign.com/DaVinciResolve/20180407-79c607/DaVinci_Resolve_15_Configuration_Guide.pdf Intel GPU with OpenCL should be supported.

[2018-09-13 14:28] KhazAkar commented on #84
I'm worried about that mine setup don't detect Clock Frequency (shows 0 MHz), mayby that's the problem?

[2018-09-17 02:17] KhazAkar commented on #84
Ok, now I have Base Clock Speed for OpenCL, but Indigo Benchmark Crash with segmentation fault when trying to use Intel OpenCL device.

[2018-09-17 12:57] JacekDanecki commented on #84
I've reproduced segmentation fault in Indigo Benchmark on my setup. Let me investigate it.

[2018-09-19 11:32] PiotrRozenfeld commented on #58
Could you please check again with our latest release? This should be fixed now.

[2018-09-19 11:58] JacekDanecki commented on #46
I think we can close this issue, as rpm packages for Centos are available on copr. In weekly releases we can add link to specific builds on copr.
In case of alpine support there are new problems with IGC and Neo compilation. If you are still interested please create new issue for alpine support.

[2018-09-19 22:51] mrsabhar opened #87 "Changing cl_cache path to non-UAC path?"
Is there way to change cl_cache path to requested directory instead of default location of .exe file.  We are using clDNN and need binaries to optimize initialization time.
App takes 10-20 seconds to initialize all kernels (clBuildprogram)

[2018-09-19 23:01] MichalMrozek commented on #87
Can you try to modify #define CL_CACHE_LOCATION "cl_cache" to see if it helps?
vpg-compute-neo\config.h.in

This variable controls where the cache directory is.

[2018-09-19 23:59] mrsabhar commented on #87
Yes that works. Is it possible to do on release Windows driver?

[2018-09-20 10:35] wangliwei-intel opened #88 "Building Failure"
It seems the reason is because of machine's environment, the other three compilation complete successfully.
Who can help confirm? thank you!

[2018-09-20 14:00] MichalMrozek commented on #87
We are exploring possible options to make it more convenient.

[2018-09-21 07:53] axeldavy commented on #58
I tried latest release of compute-runtime, latest release of vtune, and git of https://github.com/intel/metrics-discovery
I still get the same issue.

Is there any detailed setup installation to be sure everything is setup correctly ?

[2018-09-21 13:05] #46 closed

[2018-09-23 14:07] Sec42 opened #89 "i7-5600U not found on Ubuntu 16.04.5 LTS"
I have build and installed according to the documentation, but `clinfo` does not show anything.

I cross-checked the steps from #57 :

lspci |grep VGA:
`00:02.0 VGA compatible controller: Intel Corporation Broadwell-U Integrated Graphics (rev 09)`

LD_DEBUG=files clinfo
[code]

I was previously using the beignet driver which worked fine.

[2018-09-23 15:01] ArturHarasimiuk commented on #89
could you share output from following commands:
```lspci -s 00:02.0 -nnn -vvv```
```lsmod | grep i915```
```dmesg | grep i915```
```dmesg | grep drm```

and output from strace, please attach log.txt created by command:
```strace -f -o log.txt clinfo```

[2018-09-24 12:27] Sec42 commented on #89
I'm running Ubuntu
[code]
Kernel is
[code]

[2018-09-25 10:49] ArturHarasimiuk commented on #89
I was able to reproduce issue on my side. It seems that kernel 4.4.0-130 from Ubuntu does not support Soft-Pin feature on BDW (mentioned earlier). Since this is required by Neo thus driver refuses to start.

can you use more recent kernel? I tried ```4.15.0-34``` and ```4.13.0-16``` and it worked.

[2018-09-26 11:14] axeldavy commented on #58
Would it be possible a debug build is required ?

I used the binaries available on this github.

[2018-09-28 23:54] dvrogozh opened #93 "Load gmmlib using soname"
@ArturHarasimiuk, @drprajap: FYI

Please, be aware that gmmlib got a fix for intel/gmmlib#28 which changes gmmlib install targets:
1. libigdgmm.so.<major>.<minor>.<patch>
2. libigdgmm.so.<major> -> libigdgmm.so.<major>.<minor>.<patch>
3. libigdgmm.so -> libigdgmm.so.<major>

libigdgmm.so still presents, but is a symbolic linker name which belongs to developer packages. Please, consider switching t

[2018-09-29 19:24] neowong-taiwan opened #94 "Where to get NEO devel package ?"
Hi,

Previous in legacy version of intel-opencl driver SRB5, it come with a devel package, contain several header files, like Khronos header files CL/*.h, and va_ext.h. I can see the Khronos header files and cl_va_api_media_sharing_intel.h (va_ext.h replacement?) in source tarball, wonder if the devel package can release with driver package too ? so we dont need to manually prepare those files.

t

[2018-09-29 20:10] bartwojcik opened #95 "Plaidbench failure"
Plaidbench is a benchmark for PlaidML framework, one of few frameworks that support OpenCL. It fails the correctness test on my Skylake machine (Intel HD Graphics 520 / i7-6500U CPU) while passing on both 780GTX and HD7770 (windows, sadly) I tested. So I guess this is the OpenCL implementation's issue. Results:
[code]

Driver version: 18.38.11535-1

[2018-09-30 20:31] pioto1225 commented on #58
The same problem here. Gpu hotspots work, while in-kernel profiling results in GTPin error.

[2018-10-01 05:16] lqhuy93 opened #96 "Slow performance on Ubuntu"
My intel chip specs:

The same code pipeline takes ~12ms on Windows but ~28ms on Ubuntu. Did I miss something (like additional flags or linking libraries)?
ps: I also have 1080ti GPU on this PC.

[2018-10-01 10:20] JacekDanecki commented on #94
On Fedora you can install opencl-headers package which contains Khronos header
[code]

On Ubuntu 18.04 it's in opencl-c-headers package:
[code]

In Arch it's in opencl-headers package:
[code]

[2018-10-01 12:39] lqhuy93 commented on #96
@JacekDanecki Sorry, I can't share the code here. I'm implementing various kernels (OpenCL) for machine learning purpose (GEMM, convolution kernels, upsampling, downsampling,...) which use _cl_intel_subgroups_ and few more Intel's extensions for optimization.
My OS is Ubuntu 16.04. The above times are the average times after inferring my model (~10000 times)

[2018-10-01 18:31] neowong-taiwan commented on #94
My system is Ubuntu 16.04, however, it's working fine with Ubuntu 18.04 package too, only need to copy cl_va_api_media_sharing_intel.h to va_ext.h, as OpenCV still refer it in va_intel.cpp.

Thanks for the help, I will close this issue.

[2018-10-01 18:31] #94 closed

[2018-10-01 22:01] MichaelRoyceCarroll commented on #96
Hello @lqhuy93

Thanks for your interest.

Intel has a portal for priority engagements that facilitates keeping srcs confidential. Would you be willing to file it through the Intel service center? https://supporttickets.intel.com/servicecenter?lang=en-US

Please use the Intel System Studio or Intel Media category buckets if asked.

The portal should ask these two questions:
_Do any of your questio

[2018-10-02 16:40] MichalMrozek commented on #88
Can you provide more details ?

[2018-10-02 16:43] MichalMrozek commented on #96
Can you check what is slower using https://github.com/intel/opencl-intercept-layer. ?
You can check whether slowness comes from longer kernel execution or host overhead, there are appropriate toggles to dump various logs. I am particularly interested in logs from DevicePerformanceTiming  and HostPerformanceTiming ,

[2018-10-04 00:35] Sec42 opened #97 "Can't build on ubuntu 18.04"
Hi,

as a result of Issue #89 I upgraded to ubuntu 18.04 which has a 4.15.0-34 kernel, but since then I can't even get it to build anymore.

I tried a completely fresh re-checkout, but it always fails at the same spot.

[code]

I'm a bit at a loss right now.

[2018-10-04 07:58] JacekDanecki commented on #97
Can you provide output from cmake command?

[2018-10-04 11:47] lqhuy93 commented on #96
Thanks for tips. I'll check again and get back to you guys if I find out the problems.

[2018-10-04 11:47] #96 closed

[2018-10-04 20:56] KhazAkar commented on #84
Sure, what do you need for that?

[2018-10-05 09:56] JacekDanecki commented on #84
In case of Indigo one problem was fixed on common clang side, we discovered another issue on IGC side, and IGC team is looking at this.
In case of Davinci, I'm waiting for feedback from team who is working with Black Magic Design.

[2018-10-06 17:11] Sec42 commented on #97
Here you go:
[code]

[2018-10-08 10:38] MaciejPlewka commented on #58
Hey, could you provide steps to reproduce this problem?

[2018-10-08 16:14] JacekDanecki commented on #97
As I can see you have installed IGC 0.1.0 on your system. Did you compile compatible IGC version?  You can see [releases](https://github.com/intel/compute-runtime/releases) page to check what IGC commit is required by Neo.
You can also install deb packages from [launchpad repository]( https://launchpad.net/~intel-opencl/+archive/ubuntu/intel-opencl). I've updated them today to the latest release 1

[2018-10-08 16:45] axeldavy commented on #58
I compiled my linux kernel with (CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS=y) (Tested both 4.14 and 4.18), as requested on the online documentation.
I installed the compute-runtime package available here (I didn't recompile myself).
I use a Skylake gpu. The issue happens with both VTune "2018" and "2019".

Taken any OpenCL program, even the simplest one with one kernel. In VTune use In-kernel debuggin

[2018-10-10 19:34] Sec42 commented on #97
You were right. While trying to debug the previous problem I had run make install on it. I removed all traces of the install, and now it builds fine.
It doesn't run, but I will open another issue for that.

[2018-10-10 19:34] #97 closed

[2018-10-10 19:47] Sec42 opened #99 "driver abort()s on Ubuntu 18.04"
Hi,
I built the driver as per readme, but when installed, `clinfo` dies:

[code]

The source line is
[code]

it seems that the lib is there:
[code]

[2018-10-11 09:54] JacekDanecki commented on #99
Did you update gmmlib to this [commit](https://github.com/intel/gmmlib/commit/456b7c0354a40ac2de89f71d7fc7cc47f7de1eee)?

[2018-10-11 12:19] Ruyk commented on #99
Hello,

I had the same issue, but updating to the latest gmmlib solved the problem.

Thanks!

[2018-10-11 14:06] Sec42 commented on #99
Thanks for pointing it out. A fresh git pull of the gmmlib repo got it to build (and run). Thanks!

[2018-10-11 14:06] #99 closed

[2018-10-11 14:11] Sec42 commented on #89
Just as a followup. I got it to build and run on ubuntu 18.04 (kernel `4.15.0-34`).
A quick comparison with the old beignet driver with luxmark seems to show comparable performance (up to a 6% speed increase).

[2018-10-11 14:11] #89 closed

[2018-10-12 08:02] AdamCetnerowski commented on #95
Thank you for the report. We added it to our debug queue and hope to have more information for you soon.

[2018-10-17 16:53] pioto1225 commented on #58
I just tried from installing the latest Intel vTune ((build 570779, version 2019) from scratch and it looks like vTune in-kernel opencl profiling works fine with Linux.
I am using:
* Debian Buster with the latest packaged kernel
* recompiled stock kernel 4.18.10 (with: CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS=y)
* latest metrics-discovery package (https://github.com/intel/metrics-discovery) (built bi

[2018-10-18 07:19] zhangdaolong opened #100 "compile erro!"
# scl enable devtoolset-4 llvm-toolset-7 "make -j `nproc` package"
[  2%] Built target gmm_umd
[  3%] Built target igfxgmmumd
[  4%] Built target igfx_gmmumd_dll
[  5%] Built target igfx_gmmumd_excite
[  5%] Built target gmock-gtest
[  5%] Built target elflib
[  5%] Built target igdrcl_lib_release_sharings_enable
[  9%] Built target biksim
[  9%] Built target cclang
[  9%] Built target LLVMDemangl

[2018-10-18 10:51] JacekDanecki commented on #100
Can you provide more details what versions (commits ID's) did you use to compile Neo. Today I've built the whole Neo stack successfully under Centos 7.5 using head's commits from all components.

[2018-10-22 10:27] krogueintel opened #101 "Support resource sharing via EGL"
Looking at runtime/api/dispatch.cpp, it appears that data sharing via EGL is not supported.

Would it be possible to add support for such images to enable more generic data sharing across API's and processes? I am looking into enabling video format conversion using OpenCL for destination formats not naively supported by the Intel Media driver (https://github.com/intel/media-driver).

Very limited

[2018-10-22 19:40] mattcurfman opened #102 "Clear Linux support?"
Are there any plans to support compute-runtime as a bundle on https://clearlinux.org?

[2018-10-23 16:24] mattcurfman commented on #102
Thanks!

[2018-10-23 16:24] #102 closed

[2018-10-24 13:30] jiangZHB opened #103 "cmake -DBUILD_TYPE=Release -DCMAKE_BUILD_TYPE=Release ../neo error"
Hi, I have  probram  On coffee lake  gcc (Ubuntu 8.2.0-7ubuntu1) 8.2.0
workspace
	  |- clang_source       https://github.com/llvm-mirror/clang
	  |- common_clang       https://github.com/intel/opencl-clang
	  |- llvm_patches       https://github.com/intel/llvm-patches
	  |- llvm_source        https://github.com/llvm-mirror/llvm
	  |- gmmlib             https://github.com/intel/gmmlib
	  |- igc

[2018-10-25 11:10] MaciejPlewka commented on #58
I was trying to reproduce this issue but i wasn't able. I compiled my own linux kernel(v4.14) with "CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS=y" as you wrote. I'm working on Ubuntu 16.04 and vTune 2019 (build 570779). I was testing on simple app named BitonicSort which you can download from intel site. Make sure that you are specifying  device type to GPU in other way you will receive GTPin Error

[2018-10-25 13:45] axeldavy commented on #58
I tried again.
I use 4.17.9 (with CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS=y)
sudo ./prepare-debugfs.sh
sudo ./amplexe-vars.sh
sudo chmod a+rx /sys/kernel/debug
sudo /opt/intel/vtune_amplifier_2019/sepdk/src/insmod-sep
./amplxe-gui (I don't need LD_PRELOAD, I just renamed the old packaged libstdc++.so to make it use the system version)
Parametered to launch the bitonic executable and in kernel gpu pr

[2018-10-25 22:16] pioto1225 commented on #58
I tried bitonic sort and I got the opencl profile.
My dmesg output (below) is almost identical to yours except for major number; probably it does not matter. Normally I would get GTpin error which I believe has to do with locally building libmd against distro's libstdc++. Otherwise (with LD_PRELOAD/removing Vtune's libstdc++) it is OK. Are you getting GTPin error or a different one? In your first

[2018-10-26 07:20] #103 closed

[2018-10-26 12:04] ArturHarasimiuk commented on #93
Neo is using symbol GMM_UMD_DLL defined in file [GmmLibDllName.h](https://github.com/intel/gmmlib/blob/master/Source/GmmLib/inc/External/Common/GmmLibDllName.h). It is on GmmLib side to define proper name of shared library.

[2018-10-26 12:04] #93 closed

[2018-10-26 15:54] wmouse commented on #58
Hi @axeldavy, could please collect additional logs for VTune? You need to set the environment variables:
[code]
and run the analysis. After that, the result directory (<path_to_results>/r***gp) will contain several log files. If you can please share this result directory.
Also you can use [the official VTune forum](https://software.intel.com/en-us/forums/intel-vtune-amplifier) to report the issues

[2018-11-01 16:19] dgerzhoy opened #105 "Latest Runtime and Fine Grain SVM"
Hello,

I've been using the depreciated closed-source release of the OpenCL SDK/Runtime for a while now (I have the latest version of that).

Have been trying to use vtune-amp to do some performance analysis and it pointed out that I don't have the latest runtime installed. Does it expect to have your version of the runtime?

I'd love to switch to the latest and greatest runtime, but I rely pretty

[2018-11-04 13:41] rollerpunk opened #106 "intel-opencl*.deb installation problem"
Hi,

I''m trying to install openCL by following step-by-step with all linked dependencies:
https://github.com/intel/compute-runtime/blob/master/documentation/BUILD_Ubuntu.md

I've compiled everything successfully but got error at the last step (*.deb installation):

Looks like gmmlib and igc packages need to be propagated somehow.
Please help me to make thing right.
Thank you in advance !

<hr>

H

[2018-11-05 09:47] PiotrRozenfeld commented on #101
We are discussing this internally, should have conclusions in a few weeks.

[2018-11-06 11:55] axeldavy commented on #58
The two env vars didn't seem to increase the length of the logs.

Here are the logs nonetheless, if it helps.

[log.tar.gz](https://github.com/intel/compute-runtime/files/2553036/log.tar.gz)

[2018-11-06 12:12] wmouse commented on #58
Hi @axeldavy , these environments variable enable logs that are stored in result directory. Could you please attach the whole result directory (r004gp) or log files from r004gp/data.0?

[2018-11-06 12:18] axeldavy commented on #58
Here is the whole directory

[r004gp.tar.gz](https://github.com/intel/compute-runtime/files/2553111/r004gp.tar.gz)

[2018-11-06 12:38] axeldavy commented on #58
Since in the log it complains about
'/opt/intel/vtune_amplifier_2019.0.2.570779/lib64/libstdc++.so.6' not being found (which if you read my previous messages I removed to force the system one),
I put a symlink to the system .so.

The error "Error: Internal collection error has occurred. Please contact the technical support." disappeared.

However now it gives:
[Instrumentation Engine]: GTPin could

[2018-11-06 12:48] BartoszDunajski commented on #105
Hello Daniel,
Unfortunately, driver can't report SVM capabilities because of missing support in Linux kernel.
Appropriate patch is already submitted, but not yet up-streamed.

You can always add required patch manually: https://patchwork.kernel.org/patch/10638787/

Additional changes in OCL driver are also required: https://github.com/intel/compute-runtime/pull/53

[2018-11-06 12:54] axeldavy commented on #58
I reinstalled the intel opencl package 18.21.10858, which I had locally and that contained libigdccl.so, and in-kernel profiling works (with the libstdc++ symlink).
The log still contains "Cannot get handle for library 'libigdccl.so'", but apparently it doesn't prevent it from working.
Here is the log, in case that helps fixing the issue:
[r010gp.tar.gz](https://github.com/intel/compute-runtime/fi

[2018-11-06 17:03] wmouse commented on #58
Thank you for the log! I'll investigate it.

[2018-11-07 22:28] oscarbg opened #110 "OpenCL 2.2 NEO support still planned for this year?"
Hi,
I remembered that Neo site says "OpenCL 2.2 software technology support coming later in 2018"..
is still the case? as I can't see any progress just by inspecting recent commits.. altough I might be wrong..
thanks..

[2018-11-09 12:21] krogueintel commented on #101
If it is helpful, I can likely implement this already (by imitating the existing code in compute_runtime for VASurface and the code in Mesa/i965).

[2018-11-10 13:05] TaihuLight commented on #106
I can successfully install all *deb for intel compute runtime which are download from release region of this repo, but when I run the command clinfo, it can not find Intel GPU device.
OS: Ubuntu 16.04.3
CPU: Intel i7-8700k
How can I do to successfully use the released *deb on my computer?

[2018-11-12 10:26] bluejamz opened #111 "tests/leela fail on Intel Core i7-5600U iGPU"
Compiled leela zero on KUbuntu, but running the 'tests' script in the build folder as well as trying to run actual leela zero results in
`$ ./tests
Running main() from gtest_main.cc
[==========] Running 11 tests from 2 test cases.
[----------] Global test environment set-up.
BLAS Core: built-in Eigen 3.3.5 library.
Detecting residual layers...v1...8 channels...1 blocks.
Initializing OpenCL (autode

[2018-11-12 18:59] rollerpunk commented on #106
thank you !

[2018-11-13 08:06] jdanecki commented on #106
@rollerpunk Were you able to  install  Neo correctly?

[2018-11-13 09:47] bluejamz commented on #111
Ooops, my oversight, I'm sorry. Works fine.

[2018-11-13 14:10] JacekDanecki commented on #50
libopencl_clang.so library can be built without libtinfo. During configure step for cclang there are checks for example for 'setupterm' symbol from libtinfo or curses/ncurses libraries. If you don't have libtinfo-dev installed on the system this check will fail and libopencl_clang.so will not link to libtinfo.
[code]
If you want to remove ncurses5-compat-libs from compute-runtime-bin Aur package I

[2018-11-13 14:25] #111 closed, assigned to nobody

[2018-11-13 22:32] dvrogozh opened #112 "Provide development environment support for VAAPI sharing"
As of now required VAAPI sharing extension header file is missing in open source ocl-icd package (see https://github.com/OCL-dev/ocl-icd/tree/master/khronos-headers/CL) and NEO driver does not provide it as well. Please, consider providing one of the following options to ease development process for Linux end-users:
1. Either request update from ocl-icd package maintainers to officially include VA

[2018-11-13 22:32] dvrogozh commented on #112
@chivakker : FYI

[2018-11-14 08:19] PiotrRozenfeld commented on #110
Implementing OpenCL 2.2 by 2018 EOY was our intention at the time of initial NEO opensourcing. Since then, we have seen little interest from both community and customers. The asks we had received as OpenCL 2.2 were in fact requests for OpenCL C++ (which is already there with OpenCL 2.1), we plan to respond to these with expanding SPIR-V support in the near term.

[2018-11-14 09:16] PiotrRozenfeld commented on #101
Contributions are always welcome.

[2018-11-14 16:58] MaciejPlewka commented on #58
The release version 18.21.10858 is quite old and doesn't have support for GTPin. Could You try with latest opencl package?

[2018-11-14 21:58] ChrisLundquist opened #113 "Out of order queue causes gpu driver reset"
Device info:
[code]

When creating a command queue like:
[code]

and then enqueueing many instances of the same kernel:
[code]

I see the following in /var/log/syslog:
[code]

*When using IN ORDER QUEUES* This happens when the watchdog timer (or something like it) times out because a kernel is taking too long to finish.
This is why I have to enqueue many smaller work items when working with in ord

[2018-11-14 22:58] bfliflet commented on #113
Your code looks reasonable and we encourage usage of OOQs.  How many enqueues are you doing in the loop?  Does this fail if you insert a clFlush inside the loop?  With OOQs, the driver attempts to batch up as many NDRangeKernels to maximize GPU utilization prior to submitting to i915.  I suspect the timeout mechanism is per-submission.  Various API such as clFlush and clFinish among others force a

[2018-11-14 23:21] ChrisLundquist commented on #113
The exact source is https://github.com/ChrisLundquist/libpz/blob/master/opencl/engine.c#L193-L210

A few hundred to a few thousand.
I make a work item for each byte in a file. The file is ~4MB. When In-Order I get the best performance around MAX_WORK_GROUP_SIZE * 32 and MWGS is 256. In that case I have ~500 enqueues.
(For some reason the Video Front End (VFE) is the best indicator of work being do

[2018-11-14 23:21] #113 closed

[2018-11-15 00:51] bfliflet commented on #113
I spoke with an i915 expert and he mentions that reset happens after 12s.  A timeout fires after 4s and if no forward progress is detected it gets nuked.  If forward progress is detected, it gets 2 more chances and then it's nuked anyway.  This timeout is per submission.  You could check if your reset is related to this by setting '**i915.enable_hangcheck=0**'.  If you find the hang still happens,

[2018-11-15 04:57] ChrisLundquist commented on #113
Thank you for the pointers forward, you really helped me out!

Yeah, I think by default, OOQ batches all or close to all of them into one submission (which then times out). For this particular file / workload / kernel / clock speed. I can flush the EnqueueNDRangeKernel calls in batches of 32 or 64 without error. batches of 128 hit the timeout ( at least when the GPU is downclocked via `intel_gpu_f

[2018-11-15 17:17] bfliflet commented on #113
It is tricky.  An application can write a single looping kernel that takes more than 12s.  An application can also send 1024 NDRangeKernels that in aggregate only take 1ms.  Having said that, the motivation for aggregation was to amortize the cost of the cache flushes added by i915 around our submissions.  There is diminishing return and I'll push the team to implicitly flush after a reasonable nu

[2018-11-16 09:17] #100 closed, assigned to nobody

[2018-11-17 07:16] oscarbg commented on #110
yes I'm also interested mainly on OpenCL C++ ..
Thanks for informative answer..

[2018-11-21 12:02] Brainiarc7 opened #115 "How to skip all tests?"
Hello there,

Is there a cmake flag that can be passed to disable all tests?

[2018-11-21 14:54] JacekDanecki commented on #115
You can use: -DSKIP_UNIT_TESTS=1

[2018-11-22 02:25] nettc opened #116 "Problem about cl_va_api_media_sharing_intel"
I use cl_va_api_media_sharing_intel to share the data between VA API and OpenCL API.
I use clCreateFromVA_APIMediaSurfaceINTEL function to create clImageY shares Y plane of input VA surface(NV12) and create clImageUV shares UV plane of input VA surface(NV12). When I run the program on CentOS 7.4 with MediaSDK2018R1, I found that a few lines of data in the clImageUV plane are zero for some videos(F

[2018-11-22 09:29] JacekDanecki commented on #115
Closing issue as answer was provided.

[2018-11-22 09:29] #115 closed

[2018-11-26 14:33] axeldavy commented on #58
It's only with 18.21.10858 I managed to make In-kernel debugging work (but with issues, some kernels do miss debug info, either completly or partially), as with the latest package (from 20 days ago) I got '[Instrumentation Engine]: GTPin couldn't find all required libraries... Exiting without doing anything'.
Does this error message rings a bell for you ?

[2018-11-27 08:19] MaciejPlewka commented on #58
I used to have this issue when i wasn't specifying device type as argument to BitonicSort. After add CL_DEVICE_TYPE_GPU everything works for me.

[2018-11-28 21:06] wmouse commented on #58
Hi @axeldavy, @MaciejPlewka is right because '[Instrumentation Engine]: GTPin couldn't find all required libraries... Exiting without doing anything' message usually means that a target application uses non-GPU OpenCL device to run kernels. VTune provides different analyses to profile an OpenCL application. The choice depends on OpenCL device that is used to execute the kernels.
If you want to pro

[2018-12-01 22:19] alalek opened #117 "Kernel execution issue since 18.45 (erode kernel from OpenCV)"
Bug report:
- OS: Linux (Ubuntu 16.04 / Fedora 28)
- HW: Skylake / GEN9 (i5-6600)
- Intel OpenCL NEO versions:
  - Good: [18.44](https://github.com/intel/compute-runtime/releases/tag/18.44.11760) and older
  - Broken behavior since: [18.45](https://github.com/intel/compute-runtime/releases/tag/18.45.11804)

Minimal reproducer, expected/broken output, and dumped kernels are attached:
- [opencl_erod

[2018-12-04 02:37] nettc commented on #116
We tried the lastest MediaSDK2018R1, we test the OpenCL Plug-in Sample to rotate the video with opencl.
#sample_multi_transcode -i::h264 1.h264 -o::h264 out.h264 –opencl –angle 180.

When we play the output video out.h264, something wrong with the frame.

We test several videos with different resolution. We find some resolutions are wrong(320x240), some resolutions are not (480x480).

[2018-12-05 20:55] dgerzhoy commented on #105
Thanks! Appreciate the guidance.

You wouldn't by any chance know of a way to flush or invalidate GPU Cache lines. Either from the the runtime api or from the kernel itself.

I'm finding that when data is in the GPU cache, the overhead of transferring it is pretty high (which makes sense from the standpoint of tracking coherence in the GPU- just like the patch documentation mentions)

If I could f

[2018-12-06 06:48] BartoszDunajski commented on #105
Could you give an example of your use case and more details on your observations?

[2018-12-06 07:56] axeldavy commented on #58
I hadn't any other OpenCL device installed than Neo.
I managed to make it work now with the same driver version that used to say "GTPin couldn't find all required libraries". Since last time, I installed the CPU openCL driver and recompiled last linux lts with the CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS=y. Not sure what helped.

Since it seems I was the last person on this thread having issues, I gu

[2018-12-06 11:45] TaihuLight commented on #9
@MichalMrozek @JacekDanecki When I install NEO driver, I can not find ICD loader library 'libOpenCL.so' in my install directory of NEO, and NEO document says that link to it.
How to generate libOpenCL.so for NEO driver?

[2018-12-06 12:21] alalek commented on #9
@TaihuLight Try to use libOpenCL.so from the system directly.

Fedora [package](https://fedora.pkgs.org/29/fedora-x86_64/ocl-icd-2.2.12-2.fc29.x86_64.rpm.html):

Ubuntu [package](https://packages.ubuntu.com/xenial/ocl-icd-libopencl1):

If provided version is not enough to you then try to build Khronos ICD loader from the Khronos repository (it may conflicts with system ones). The link is above.

[2018-12-06 16:00] alalek commented on #117
Fixed: [18.48.11934](https://github.com/intel/compute-runtime/releases/tag/18.48.11934)

[2018-12-06 16:00] #117 closed

[2018-12-06 22:49] pkeir opened #118 "Choice of OpenCL C++ Compiler?"
Is the [SPIR generator](https://github.com/KhronosGroup/SPIR) the recommended approach to compiling OpenCL C++ into SPIR-V for use with the Intel NEO compute runtime?

[2018-12-07 15:03] PiotrFusik commented on #116
This might be an issue that we fixed back in June. Could you check the version of your OpenCL runtime by running the command `clinfo` ? Could you then update your OpenCL runtime?

[2018-12-11 07:34] nettc commented on #116
I installed the opencl-16.8 included in the mediasdk2018R1 installation package, including:
intel-opencl-16.8-67208.x86_64.rpm
intel-opencl-cpu-16.8-67208.x86_64.rpm
intel-opencl-devel-16.8-67208.x86_64.rpm
Is the Opencl runtime contained in mediasdk2018R1 not updated?

[2018-12-11 12:43] enihcam commented on #99
@JacekDanecki I got the same error here, but I had already upgrade gmmlib to 18.4.

[code]

[2018-12-11 13:23] alalek commented on #99
You should re-build OpenCL runtime yourself (or via AUR) with new dependencies.
Old existed OpenCL package expects old libigdgmm.so library (something like `libigdgmm.so.3`). You can check list of loaded libraries via `LD_DEBUG=files clinfo`.

[2018-12-11 13:33] enihcam commented on #99
Then please remove the digit from the filename. Thanks.

[2018-12-12 04:59] georgeokelly opened #120 "Errors were encountered while processing: intel-opencl"
Hi, I want to install OpenCL and I follow the README.MD as well as what [the issue](https://github.com/intel/compute-runtime/issues/106#issuecomment-435916327) mentioned. However I still get error at the final step, which is:
`sudo dpkg -i  intel-opencl_18.50.0-1_amd64.deb`
and the error is:
[code]
But it makes me confused because the igc-opencv and igdgmm seem to be found according to the cmake r

[2018-12-12 21:33] chivakker opened #121 "Can't find igc-opencl with default configuration"
Can compute-runtime operate without needing pkg-config files

If so, can this option be disabled by default and/or add an option for it?

cmake -DCMAKE_INSTALL_PREFIX=/<my-prefi>x

Checking for module 'igc-opencl'
--   Package 'igc-opencl', required by 'virtual:world', not found

[2018-12-13 14:38] PiotrFusik commented on #116
MediaSDK2018R1 is not the latest one. You can find newer releases at https://github.com/Intel-Media-SDK/MediaSDK/releases
New releases of MediaSDK are compatible with the new OpenCL runtime.

[2018-12-13 15:00] ArturHarasimiuk commented on #121
Hi @chivakker

Could you please share more details about your ask? why is pkg-config problematic

[2018-12-13 17:20] chivakker commented on #121
I would like to use compute-runtime without igc-opencl-devel package.  Is that possible?  Maybe some features won't be available but that is fine.  I suggest moving those features inside a configuration i.e.

cmake -DVIRTUAL_WORLD=OFF

and have something that can be used.

[2018-12-14 02:16] georgeokelly commented on #120
Thank you! I neglected them which are not mentioned.

[2018-12-14 02:17] #120 closed

[2018-12-14 15:07] ArturHarasimiuk commented on #121
igc-opencl-devel is build time dependency. this package contains header files required to build compute-runtime.

[2018-12-14 23:20] awherr opened #122 "Coexistence problems between LLVM versions"
There is a bug in the Neo driver that prevents the OpenCL runtime from working under application/languages that link to different versions of LLVM than the version support by the OpenCL compiler. This bug shows up in domain-specific languages like Halide (http://halide-lang.org) and TVM (https://github.com/dmlc/tvm) that use LLVM for Jitting, as well as tools like OCLGrind (https://github.com/jrpr

[2018-12-15 11:19] alalek commented on #122
I can confirm this problem.

In OpenCV we using both OpenCL and Halide (which can use OpenCL too) and observing crashes caused by LLVM symbols mess.
Some our improperly configured [builds](http://pullrequest.opencv.org/buildbot/builders/3_4_halide-skl-lin64/builds/109) crash with messages like this:

This weird behavior can be "fixed" (workarounded) from the other side too.
We using this scheme to

[2018-12-17 17:13] dgerzhoy commented on #105
I'm running what amounts to a virtual machine or daemon on the GPU that persists after each kernel launch. Like this: https://www.iwocl.org/wp-content/uploads/iwocl-2016-gpu-daemon.pdf

I need this because I have kernels whose runtime would otherwise be overpowered by the GPU kernel launch overhead.

I have a set of arrays all allocated with clSVMAlloc and CL_MEM_SVM_FINE_GRAIN_BUFFER. One is Read

[2018-12-18 12:02] zzdanowicz commented on #105
Hi,
I'm a co-author of the GPU Daemon paper. For Daemon to work we need to have SVM Fine Grain support. Without it, there will be no data exchange possible between CPU and GPU, while there are live GPU threads.
Also if you run two separate GPU contexts (like one daemon and one regular GPU workload) you might run into problems of rescheduling and preemption.

As for invalidation of the GPU side, I

[2018-12-18 12:06] zzdanowicz commented on #105
Hi Daniel,

Let me know, if you are interested in all different modes of GPU Daemon. Do you use "Instant" or "Enqueue" mode?

regards,
Zbigniew

[2018-12-19 14:10] PiotrRozenfeld commented on #110
Hi Oscar,

Please note we recently added several new SPIR-V extensions in the driver:
•	cl_intel_spirv_subgroups
•	cl_intel_spirv_media_block_io
•	cl_intel_spirv_device_side_avc_motion_estimation

Another extension - cl_khr_spirv_no_integer_wrap_decoration - will be added soon.

We are also working with our colleagues from intel-graphics-compiler to upgrade the SPIR-V version accepted - CL_DEVICE_

[2018-12-21 12:41] PiotrRozenfeld commented on #44
This is still in our plans - IGC support should be available in Q1'19.

[2018-12-22 02:03] wangliwei-intel opened #123 "Build error on recent versions"
I failed to build the recent version, it shows me the error:

cmake -DCMAKE_BUILD_TYPE=Release  -DRELEASE_WITH_REGKEYS=1 ../
...........
make package VERBOSE=1
[ 18%] Generating ../../bin/scheduler/x64/gen8/scheduler_Gen8core.bin
cd /home/wangliwei/Desktop/Neo-Latest/neo/runtime/scheduler && LD_LIBRARY_PATH=/home/wangliwei/Desktop/Neo-Latest/neo/build/bin /home/wangliwei/Desktop/Neo-Latest/neo/bui

[2018-12-24 20:13] dgerzhoy commented on #105
Hi Zbigniew,

Thanks for getting back to me, sorry for the delay responding back- I must not have notifications turned on.

I am using the older OpenCL SDK/Runtime and applied the patch that the documentation mentioned to get Fine Grain SVM working (and they do work). So far I haven't switched to the new SDK/Runtime

I am using instant mode, so my Daemon persists for the duration of the program I

[2019-01-03 11:01] zzdanowicz commented on #105
Hi Daniel,

In case of Instant mode, there is no other way synchronize data between CPU and GPU, but to use Fine Grain SVM (cache coherent memory).
OS GPU watchdog might kick-in for various reasons and preempt GPU context (for example it can detect timeout condition) - I wonder how often it happens and what is the behavior (context termination or delay on specific daemon operation?) and does your

[2019-01-03 12:45] zzdanowicz commented on #105
@JacekDanecki - do you know how to manually setup Linux GPU timeouts and/or preemption timings? Eventually how to disable timeouts?

[2019-01-03 16:18] dgerzhoy commented on #105
Using Ubuntu 16.04, if that helps. Will try to find out details on preemption with this release.

[2019-01-10 12:10] JacekDanecki commented on #105
If you want to change GPU watchdog timeout, you need to change i915 driver source, see [DRM_I915_HANGCHECK_PERIOD](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/drivers/gpu/drm/i915/i915_gpu_error.h#n200), recompile i915 module, and install it.
To disable GPU watchdog you can run as root below command:
[code]

[2019-01-10 13:40] JacekDanecki commented on #84
I've not received any feedback about Davinci support under Linux for Intel GPU's, but I've found a few threads in Black Magic Design forum. See following:

- https://forum.blackmagicdesign.com/viewtopic.php?f=21&t=56878&sid=036302c6a2cfde88478cd3289b04fe90&start=1050#p443378
- https://forum.blackmagicdesign.com/viewtopic.php?f=21&t=56878&start=1100#p451134
- https://forum.blackmagicdesign.com/view

[2019-01-10 13:40] #84 closed

[2019-01-10 16:07] dgerzhoy commented on #105
Thanks Jacek, that was helpful. Changing the source is a little beyond me right now, but I disabled the watchdog successfully.

I'm now running into the problem that when my program does not exit cleanly, the kernel on the GPU continues to run. To kill it I've been turning the watchdog timer back on, waiting, and then turning it back off. Is there a better way to kill it?

[2019-01-11 11:02] ArturHarasimiuk commented on #116
closing due to no activity. Feel free to open new issue if anything appear.

[2019-01-11 11:02] #116 closed

[2019-01-11 11:03] ArturHarasimiuk commented on #121
closing due to no activity. feel free to open new issue if anything appear.

[2019-01-11 11:03] #121 closed

[2019-01-11 11:57] JacekDanecki commented on #123
It looks like installation issue, can you confirm IGC is installed correctly. Try to run:
[code]
You should see something similar like:
[code]
3 compilers libraries should be initialized:
/usr/lib/x86_64-linux-gnu/libigdfcl.so
/usr/lib/x86_64-linux-gnu/libigc.so
/usr/lib/x86_64-linux-gnu/libopencl_clang.so

[2019-01-14 15:07] JacekDanecki commented on #105
To manually reset GPU you can use below commands as root:
[code]

[2019-01-15 00:28] dvrogozh opened #124 "neo driver ignores CMAKE_INSTALL_SYSCONFDIR, but installs files to /etc"
I was building and installing neo driver with the following commands:
[code]
Build system installed the following files (after bypassing permission error):
[code]
While the expectation was to have CMAKE_INSTALL_SYSCONFDIR respected, i.e.:
* $CMAKE_INSTALL_SYSCONFDIR/OpenCL/vendors/intel.icd

Secondly, I believe that build system should not have created /etc/ld.so.conf.d/libintelopencl.conf or even

[2019-01-16 11:47] JacekDanecki commented on #123
Closing as it's IGC installation issue.

[2019-01-16 13:22] JacekDanecki commented on #95
@bartwojcik This issue was fixed on IGC side.
With intel/intel-graphics-compiler@64632faa3cdad142b809f63274a5ce1f315489d6 (igc_release_2019-01-15) and Neo from intel/compute-runtime@ 19.01.12103, plaidbench works in keras mobilenet test
[code]

[2019-01-18 09:44] kxv opened #125 "Update invalidates cached kernels (darktable artifacts and crashes)"
OS: Linux (Manjaro, linux 4.20)
HW: Kaby Lake R / i7-8550U
[clinfo.txt](https://github.com/intel/compute-runtime/files/2772369/clinfo.txt)
Intel OpenCL NEO versions: 19.01 (one after update to it, the behavior occurred)

The RAW Photo Editing Software darktable uses cached kernels to their OpenCL image processing.
A update of the compute runtime seems to invalidate those and leads to sudden artifa

[2019-01-18 10:45] alalek commented on #125
Is it darktable own cache or is it about builtin "cl_cache" directory?

---

Usually upgrading of OpenCL implementation upgrades used OpenCL compiler (with fixing bugs, races or new optimizations passes), so kernel binaries may be updated too.
Assumption, that kernel binary cache should stay the same with runtime upgrade is not valid.

Updates dependencies => invalidate related caches.

---

<deta

[2019-01-19 12:12] kxv commented on #125
Thank you for the clarification and additional information.
The aforementioned darktable cache is located under  .cache/darktable/cached_kernels_for_IntelRGen9HDGraphicsNEO/ for my system. This path does not seem to be runtime-version dependent.

[2019-01-23 19:39] kxv commented on #125
I have proposed a similar cache dir naming for darktable in https://github.com/darktable-org/darktable/pull/2033 .

[2019-01-28 16:34] PTS93 commented on #123
If someone comes across this. Running `sudo ldconfig` was necessary for me to fix this after compiling and installing IGC.

[2019-01-29 22:14] ArturHarasimiuk commented on #124
location of intel.icd is correct because it is defined in ocl-icd. folder /etc/OpenCL/vendors is scanned by ICD to find installed OpenCL drivers.

if you have a need to install in specific directory then you should use ```make install DESTDIR=<dir>``` instead of using CMAKE_INSTALL_DIR for this purpose

[2019-01-30 08:18] MaciejPlewka commented on #58
Hi @axeldavy,
If you still have problem with VTune please write about this here [Intel VTune Amplifier forum](https://software.intel.com/en-us/forums/intel-vtune-amplifier)

[2019-01-31 07:53] PawelJurek commented on #118
Currently NEO compute runtime does not support OpenCL 2.2, therefore validation of C++ kernels is out of scope of our certification process. But if I would have to recommend a generator for C++ kernels, it would be this one. Feel free to experiment and let us know via Intel Graphics Compiler (https://github.com/intel/intel-graphics-compiler) if you encounter issues.”

[2019-02-04 12:16] JacekDanecki commented on #95
Closing as mobilenet works with fixes from IGC. Please reopen this issue or create new one, if you find any new problems.

[2019-02-04 12:16] #95 closed

[2019-02-04 12:21] BartoszDunajski commented on #105
@dgerzhoy can we close the issue?

[2019-02-04 16:10] dgerzhoy commented on #105
Yes! Sorry.

Thanks for the reply @JacekDanecki  and thanks everyone for the help.

[2019-02-05 02:47] PlutusCN commented on #123
@JacekDanecki
(1) Should IGC be installed in /usr/lib/x86_64-linux-gnu ?
(2) Why compute-runtime can not find IGC from /usr/local/lib ?

Because I have installed IGC in /usr/local/lib as default.

[2019-02-05 10:58] JacekDanecki commented on #123
@PlutusCN
IGC can be installed in different directories, but must be visible for system linker. You can check whether IGC is visible or not by running command:
[code]
but on other system it can be
[code]
or
[code]
On Ubuntu there is configuration file for linker /etc/ld.so.conf.d/libc.conf (from libc-bin package) containing:
[code]
so libraries installed in this directory should be visible for lin

[2019-02-05 11:00] PlutusCN commented on #123
@JacekDanecki
If I install intel-igc-core_19.02.1330_amd64.deb and intel-igc-opencl_19.02.1330_amd64.deb, then I will compile compute-runtime successfully. But that will fail to compile compute-runtime if I remove intel-igc-core_19.02.1330_amd64.deb and intel-igc-opencl_19.02.1330_amd64.deb.

BUT, I always compile and install

GmmLib - https://github.com/intel/gmmlib
Intel Graphics Compiler - http

[2019-02-05 11:56] JacekDanecki commented on #123
@PlutusCN Can you share log from compilation?

[2019-02-05 12:42] PlutusCN commented on #123
@JacekDanecki

[cmake.log](https://github.com/intel/compute-runtime/files/2832112/cmake.log)

[make.log](https://github.com/intel/compute-runtime/files/2832113/make.log)

I compiled as the part of [Building](https://github.com/intel/compute-runtime/blob/master/documentation/BUILD_Ubuntu.md)

Thanks a lot

[2019-02-05 12:50] PTS93 commented on #123
@PlutusCN
Did you run `sudo make install` for gmmlib? The guide does not mention it but its actually needed to make the compiled lib available.

[2019-02-05 13:36] JacekDanecki commented on #123
@PlutusCN Can you run in build directory command
[code]
it will show you how to run ocloc offline compiler, on my system it looks like this:
[code]
Now you can set LD_DEBUG environment variable:
[code]
and run ocloc command. In the log you can check whether IGC libraries were found and initialized:
[code]
If libraries were not found, check linker cache:
[code]
On your system IGC libraries should b

[2019-02-07 11:12] tarlovsky commented on #105
Good afternoon. Which version of the compute-runtime do I apply the patch from #53 to?
Neo is currently at version 19.04 but I do not see how that is possible. Ty

[2019-02-07 11:18] BartoszDunajski commented on #105
PR is based on e47344ec0e42f48a0f914f62ea8a3d79cce10943

[2019-02-07 11:20] #105 closed

[2019-02-09 01:32] ivanmlerner opened #128 "Is development for Ivy Bridge architecture going to start soon?"
Hello, according to intel's page, this driver stack will substitute both closed source drivers and beignet, when is support for Ivy Bridge going to get in?

[2019-02-09 06:28] bfliflet commented on #128
There are no plans that I am aware of to internally back port this library for Gen7 class (ie. Ivybridge and Haswell) hardware.  There is a fair amount of runtime work but the bigger effort would be related to the compiler itself which was completely rearchitected in the Gen8/9 timeframe.  That said, there's nothing prohibiting the underlying compute-runtime SW architecture from supporting it thro

[2019-02-11 09:32] logip opened #129 "AMD R9 390"
Hi,

I'm trying to use AMD 390 on Ubuntu 18.04. I've set up ROCm 1.9 (version 2.1 does not support the card) and I've setup plaidml. I've also got plaidbench which for some reason only sometimes works.
Why are AMD cards markded as experimental in plaidml? How can I see what goes wrong, is there a log the could tell me something?

This is what I get now testing Plaidbench:

**Selected device:
    o

[2019-02-11 09:35] #129 closed

[2019-02-11 09:35] logip commented on #129
Wrong place

[2019-02-11 21:56] FePwR opened #130 "Fine Grain SVM buffers [patch]"
Hi!

I need to use SVM buffers. I'm trying to patch my kernel but I don't figure it out how. I don't know if this is the correct place to ask for that. I appreciate so much your help.

Thanks.

_Originally posted by @BartoszDunajski in https://github.com/intel/compute-runtime/issues/105#issuecomment-436240899_

[2019-02-12 09:29] BartoszDunajski commented on #130
Hello,
To use fine grain SVM you have to apply patch on OCL driver (https://github.com/intel/compute-runtime/pull/53) and mentioned Linux Kernel patch.
Please refer to https://github.com/intel/compute-runtime/issues/105. Issue is already well described there.

[2019-02-12 09:45] FePwR commented on #130
Ok! I'll keep trying.
Thank you, @BartoszDunajski .

[2019-02-12 09:45] #130 closed

[2019-02-14 01:56] PlutusCN commented on #123
@JacekDanecki

Here is my steps as your words, where is my fault ?  Thank you

[code]

The detailed building message
[build_neo_error.txt](https://github.com/intel/compute-runtime/files/2862958/build_neo_error.txt)

[2019-02-14 03:03] PlutusCN commented on #123
@wangliwei-intel

Do you fix the compilation problem ?

If you did it, tell me how you did it, and thanks a lot.

[2019-02-14 04:35] wangliwei-intel commented on #123
Hi, Richard,
What model is your machine? If it's older than Broadwell (GEN8), Could you please switch to a newer one and try it again? I don't know why, but just have a try.

B.  R.
LIWEI WANG

[2019-02-15 02:18] ruiling opened #131 "Please update libva version used in release build"
Currently the release build still use very old libva version, this is not friendly to users who want to use buffer sharing between va-api and opencl. please consider updating to libva latest release version regularly. Thanks!

[2019-02-15 02:19] PlutusCN commented on #123
@wangliwei-intel

I build it on Ubuntu-16.04 LTS x64, the graphics card is Intel® HD Graphics 530 (Skylake GT2) , and the CPU is Intel® Core™ i7-6700 CPU @ 3.40GHz × 8 .

But the problem does still exist, I do not know how to fix.

[2019-02-15 13:57] AdamCetnerowski commented on #87
We have updated our [documentation](https://github.com/intel/compute-runtime/blob/master/documentation/FAQ.md) to describe how to set the cl_cache directory.

This feature is available on:
Linux - since release [18.49.11968](https://github.com/intel/compute-runtime/releases/tag/18.49.11968)
Windows – available in [25.20.100.6519]( https://downloadcenter.intel.com/download/28515/Intel-Graphics-Driv

[2019-02-15 22:46] isgursoy opened #132 "Driver reset on 1804 and 6700hq"
Machine is http://www.vorke.com/project/vorke-v6/

OS is:
`Linux 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

I tried all releases, result is same.

[code]

[code]

[2019-02-18 04:36] feijiang1 commented on #123
Double check with PlutusCN, found the problem he encountered was not same as the problem @wangliwei-intel reported. So it should not be ldconfig related. In PlutusCN provided compiling log, there was:

Expected<T> must be checked before access or destruction.
Expected<T> value was in success state. (Note: Expected<T> values in success mode must still be checked prior to being destroyed).
Aborted (

[2019-02-18 05:12] PlutusCN commented on #123
@JacekDanecki
[code]

Does the above error message show anything wrong about:
Expected<T> must be checked before access or destruction.
Expected<T> value was in success state. (Note: Expected<T> values in success mode must still be checked prior to being destroyed).
???

The detailed compilation message:
[compile_neo_error.log](https://github.com/intel/compute-runtime/files/2874139/compile_neo_err

[2019-02-18 15:03] JacekDanecki commented on #123
Can you provide what commits ID's were used to compile IGC components (igc, llvm-patches, opencl-clang). Neo currently is using older versions of IGC components, see [releases page](https://github.com/intel/compute-runtime/releases):
- intel/intel-graphics-compiler@31b9624
- intel/llvm-patches@5fc26d8
- intel/opencl-clang@8248120

[2019-02-18 15:09] JacekDanecki commented on #132
What version of luxmark are you using? Have you tried to disable GPU watchdog to check whether it's real gpu hang or gpu workload is to big? To disable gpu watchdog you can run as root below command
[code]

[2019-02-18 23:54] nandojve opened #133 "Can't build runtime/built_ins/kernels"
I've been trying to build NEO at Debian 9 to be installed at /opt/osgeo without success.
All dependencies have been build from source without problem from recent versions (02/18/2019).

[code]

First **ocloc** failed without print any error. I detected that **libigdfcl.so** ins't find by **ocloc** app. I added to **ld.config** the /opt/osgeo path with:
[code]

Now, library it's ok but I'm facing t

[2019-02-19 01:04] feijiang1 commented on #123
For IGC compiling, we mainly follow the steps indicated in wiki: https://github.com/intel/intel-graphics-compiler:
intel/intel-graphics-compiler@ 64632f, which is tag igc_release_2019-01-05
intel/llvm-patches@ 703b03
intel/opencl-clang@824812, which is branch ocl-open-40, different according to https://github.com/intel/intel-graphics-compiler/issues/44

additionally:
llvm_source@ c8fccc, which is

[2019-02-19 01:06] PlutusCN commented on #123
@JacekDanecki

The following is my commits ID's:
[code]

The following is what I have gotten.
[code]

The following is my compilation steps:
[code]

[2019-02-19 12:52] JacekDanecki commented on #123
@feijiang1 I've compiled today the whole stack using below revisions
[code]

[2019-02-19 13:02] FePwR opened #134 "Build error on NEO patch version"
Hello!
I continue trying to install the patch version https://github.com/intel/compute-runtime/issues/105#issuecomment-436240899

- Patch and install the kernel: https://patchwork.kernel.org/patch/10638787/

- Install gmmlib: [intel-gmmlib-18.3](https://github.com/intel/gmmlib/tree/intel-gmmlib-18.3
)

- Install IGC: [igc_release_2018-11-15](https://github.com/intel/intel-graphics-compiler/tree/ig

[2019-02-19 13:04] JacekDanecki commented on #123
@PlutusCN IGC was switched to llvm/clang 7, so please use updated [README.md](https://github.com/intel/intel-graphics-compiler/blob/master/README.md) file for IGC build instruction.

[2019-02-19 13:19] JacekDanecki commented on #133
Can you set environment variable:
[code]
and check whether libcommon_clang.so or libopencl_clang.so library was initialized correctly. The name of this library depends on version of IGC you are using.

[2019-02-19 14:01] JacekDanecki commented on #134
As I understand you're trying to build old Neo + svm patch with the newest IGC and old gmmlib. It can be problematic. Have you tried to rebase svm patch on Neo HEAD?

[2019-02-19 14:24] FePwR commented on #134
I made a mistake in the comment. I'm using [igc_release_2018-11-15](https://github.com/intel/intel-graphics-compiler/tree/igc_release_2018-11-15), with SKIP_SPIRV_TOOLS_INSTALL:BOOL=ON.

I don't know how to rebase svm patch on Neo HEAD, but I'll search about it.

Thanks, @JacekDanecki

[2019-02-19 14:42] JacekDanecki commented on #134
You can start with [18.25.10965 release](https://github.com/intel/compute-runtime/releases/tag/18.25.10965) as a baseline. So checkout all components using commits ID's provided in release notes, and then apply pull request on Neo repo:
[code]

[2019-02-19 17:08] FePwR commented on #134
That works!! I know what I was doing wrong. Thank you very much, @JacekDanecki .
A last question before close the issue.
I still cannot use SVM. I'm using Ubuntu 18.04.2. I suppose the built driver is too old, but I know how to build it now.
Will you recommend me another release to prove with?

[2019-02-20 01:03] nandojve commented on #133
Thanks for the tip, problem solved!

After enabled *export LD_DEBUG=libs* I detected *libcommon_clang.so* isn't found. I added a rule to *ld.so.conf.d* but same behaviour. So, I inspected cache:

[code]
As you can see only *libcommon_clang.so.7.1* was found but not *libcommon_clang.so*. So, after inspect the libraries I discover this:

[code]
The library is not properly denominated when installed.

[2019-02-20 06:41] PlutusCN commented on #123
@JacekDanecki
Did you have this error [Unable to compile OpenCL kernels after installing IGC](https://github.com/intel/intel-graphics-compiler/issues/63) during compilation ?

[2019-02-20 13:08] BartoszDunajski commented on #134
@FePwR, could you give us more details about your SVM issue after applying appropriate patches?

[2019-02-20 13:28] feijiang1 commented on #123
Tried following commit id, still encountered same problem when compile compute-runtime.
intel/intel-graphics-compiler@31b9624
intel/llvm-patches@5fc26d8
intel/opencl-clang@8248120
=>
"Expected must be checked before access or destruction.
Expected value was in success state. (Note: Expected values in success mode must still be checked prior to being destroyed).
Aborted (core dumped)"

Then I tried

[2019-02-20 15:15] FePwR commented on #134
Any problem so far with Neo driver build. The problem is that _clinfo_ doesn't show me fine grain SVM buffer capabilities on integrated graphics card.
Maybe I made a mistake patching the kernel, don't know. The only kernel that I could [patch](https://patchwork.kernel.org/patch/10638787/) without errors was v5.0. @BartoszDunajski , Do you think that it's the only one.
Maybe I should close this iss

[2019-02-20 16:16] JacekDanecki commented on #133
Closing this issue, as the problem was with compiler component, and issue was created in IGC project.

[2019-02-20 16:16] #133 closed

[2019-02-20 16:40] gitdev-f11 opened #135 "OpenCL: Segmentation Fault and no idea anymore"
Installed Arch Linux on a Dell XPS 9360 with Intel HD Graphics 620.
Via Pacaur i've installed `compute-runtime-bin` and running `clinfo` ends everytime in a segmentation fault.
Now, after try and error for one week, i've no ideas what to do.

Here some infos

    $ clinfo
    Number of platforms                               1
    Platform Name                                   Intel(R) OpenCL HD

[2019-02-20 16:44] BartoszDunajski commented on #134
Looks like patch is active, but Device info doesn't report CL_DEVICE_SVM_FINE_GRAIN_BUFFER.
You can find this logic in device.cpp: Device::initializeCaps(). You can try to force it.
And make sure that new ioctl from OCL PR are called successfully.

[2019-02-20 16:54] JacekDanecki commented on #123
@feijiang1 Do you have any llvm binaries installed on your system? You've mentioned you're using llvm built from source code. If so please remove/rename llvm/clang binaries before IGC compilation.

[2019-02-20 17:00] JacekDanecki commented on #135
Here is a problem:
[code]

libopencl_clang.so library from compute-runtime-bin package require libtinfo.so.5 library which can be installed from: https://aur.archlinux.org/packages/ncurses5-compat-libs

[2019-02-20 17:22] gitdev-f11 commented on #135
Thx for the really fast answer !
I've already checked the required packages, and now reinstalled.
ncurses5-compat-libs: Version 6.1-2

But:

     $ ll /usr/lib/libtinfo*
     lrwxrwxrwx 1 root root 16 11. Jan 09:45 /usr/lib/libtinfo.so.6 -> libncursesw.so.6
     -rw-r--r-- 1 root root 24 11. Jan 09:45 /usr/lib/libtinfo.so

Missinig is `libtinfo.so.5`

[2019-02-20 18:07] gitdev-f11 commented on #135
# in /usr/lib
    $ sudo ln -sf libncursesw.so.6 libtinfo.so.5

solved my problems ;)

[2019-02-20 18:07] #135 closed

[2019-02-21 04:55] feijiang1 commented on #123
@JacekDanecki I tried to remove llvm/clang packages, but still encountered same problem. Does it mean you didn't use llvm from source code when release neo and igc? If yes, then it should be the root cause. Can you help share the llvm binary you are using and the detailed method of compiling IGC from binary instead of source code?

[2019-02-21 06:13] PlutusCN commented on #123
I found an interesting phenomenon:

(1) It is failed that compiling neo only based on source code of IGC and others;
(2) It is also failed that compiling neo only based on .deb files from [19.03.12192](https://github.com/intel/compute-runtime/releases/tag/19.03.12192), the following is wrong message:
[code]

neo can be compiled successfully after install IGC from source code and .deb.

Should I do

[2019-02-21 09:14] FePwR commented on #134
I'm trying, but I get a core dumped when I use clSVMAlloc over the GPU. I forced CL_DEVICE_SVM_FINE_GRAIN_BUFFER in device_caps.cpp: Device::initializeCaps(). Now, I can see SVM capabilities with _clinfo_ .
How can I make that ioctl is called successfully?
Thank you for your help, @BartoszDunajski .

[2019-02-21 09:18] BartoszDunajski commented on #134
What is the reason of core dump? You have to use debugger to get more data.
For ioctls, also use debugger (or printf). Just make sure that error codes are ok.

[2019-02-21 09:47] BartoszDunajski commented on #134
1. clSVMAlloc returns valid pointer (not nullptr)? Failure hits on any specific offset?
2. Just find out in OCL patch where new ioctls are used and check error codes

[2019-02-21 10:03] FePwR commented on #134
Exactly! clSVMAlloc returns a null pointer. I forgot to check it.

[2019-02-21 16:02] AdamCetnerowski commented on #131
Thank you for the suggestion. Request is in our queue. We will update this issue, once it's done.

[2019-02-21 16:30] JacekDanecki commented on #123
@feijiang1 I've compiled IGC with llvm sources with commits ID's provided earlier. Currently there is bug in IGC when you try to build IGC components on system with installed llvm/clang 7 binaries. The fix should be soon with some improvements regarding building IGC in different configurations.
@PlutusCN You can build Neo when IGC/gmmlib binaries/headers/pkgconfig files are installed in the system

[2019-02-21 19:37] isgursoy commented on #132
- Luxmark is v3.1. Everything is fine on identical hardware and Ubuntu 16.04 with that Luxmark. Sadly I can not check clean 18.04. Only 18.04 that I can run on this machine is mine.

- I tried disabling watchdog, gpu is really hanging.

[2019-02-22 01:26] feijiang1 commented on #123
@JacekDanecki Big thanks for your support. According to your new wiki, I can build IGC and NEO successfully. The problem I encountered seems caused by opencl-clang built separately previously, although I uninstalled llvm/clang package by "dpkg -P", but previous opencl-clan is install by "make install", I should use "xargs rm < install_manifest.txt" to uninstall all of them. I am newbie for cmake a

[2019-02-22 15:52] FePwR commented on #134
Maybe I discover what is my problem. I think the kernel hasn't a good configuration. Could anyone show to me a configuration kernel file where SVM works fine?? ($ cat /boot/config-$(uname -r) > config.txt )
Thank you very much!

[2019-02-22 15:53] JacekDanecki commented on #132
What scene are you using in luxmark?
What version of OpenCV are you using? Can you provide steps to reproduce gpu hang in OpenCV?
Are you using Xorg/Wayland? What desktop environment/window manager?

[2019-02-22 18:20] isgursoy commented on #132
Hi,
- All scenes are doing the same.
- OpenCV is 4.0.1. I will attach an OpenCV specific example case soon but hang occurs in all OpenCL use attempts.
- Xorg. Gnome. Ubuntu 18.04 default desktop environment is running.

[2019-02-24 10:06] PlutusCN commented on #123
@JacekDanecki You are so nice, and I am so appreciated. According to your new wiki,I also can build IGC and NEO successfully. But the system environment must be fine to build. After I removed binary/include files of llvm/clang, I got the mistake: [error: unknown type name 'intel_sub_group_avc_mce_payload_t'
intel_sub_group_avc_mce_payload_t **attribute**((overloadable))](https://github.com/intel/i

[2019-02-25 00:57] PlutusCN commented on #123
@JacekDanecki Thank you very much for your help. And according to your new wiki, I also build IGC and NEO successfully.

[2019-02-25 10:50] JacekDanecki commented on #123
@PlutusCN I've seen you'd observed issue:
[code]
It can be related to problems with patching. You should see logs similar to below after you run cmake for IGC build:
[code]

[2019-02-25 10:55] JacekDanecki commented on #123
Closing as Neo can be compiled using [wiki page](https://github.com/JacekDanecki/compute-runtime/wiki/How-to-build-Neo-components)

[2019-02-25 10:59] JacekDanecki commented on #128
Closing as answer was provided.

[2019-02-25 10:59] #128 closed

[2019-02-25 13:30] JacekDanecki commented on #132
Can you compare BIOS settings on these 2 machines, especially power management settings and GPU configurations? Are there the same kernel parameters set in kernel command line (grub)? Do you have the same packages for power management installed on Ubuntu 16.04 and 18.04?
Can you compare on both machines during luxmark test (before hang) as root in file /sys/kernel/debug/dri/0/i915_frequency_info i

[2019-02-25 14:16] JacekDanecki commented on #124
Closing as answer was provided. Feel free to reopen this issue if more information is needed.

[2019-02-25 14:16] #124 closed

[2019-02-25 14:17] JacekDanecki commented on #118
Closing as answer was provided.

[2019-02-25 14:17] #118 closed

[2019-02-25 14:19] #58 closed

[2019-02-27 10:30] FePwR commented on #134
I continue without  fine-grained buffer capabilities. No errors in installation so far, but I have this when I compile igc:
[CMakeError.log](https://github.com/intel/compute-runtime/files/2909760/CMakeError.log)
Could any of these errors interfere?
Thanks!

[2019-02-27 10:34] BartoszDunajski commented on #134
It looks like IGC specific issue.
Please refer to https://github.com/intel/intel-graphics-compiler for support.

Does it mean that we can close this issue?

[2019-02-27 10:39] FePwR commented on #134
Yes, I close it.
Thank you for all the help and support.

[2019-02-27 10:39] #134 closed

[2019-02-27 14:06] Cp-Graham opened #136 "Hard-lock running opencl samples - E3-1245v5"
**Setup:**
HW
- model : 94
- model name : Intel(R) Xeon(R) CPU E3-1245 v5 @ 3.50GHz
- stepping : 3
- GPU: HD Graphics P530

OS Name Ubuntu
OS Version 16.04
Other
- Linux version 4.7.0.intel.r4.0
- gcc version 5.4.0 20160609
- Ubuntu 5.4.0-6ubuntu1~16.04.4

Microcode (HT disabled)
- [    2.763729] microcode: CPU0 sig=0x506e3, pf=0x2, revision=0xc6
- [    2.763811] microcode: CPU1 sig=0x506e3, pf=0x

[2019-02-27 16:10] FePwR opened #137 "Build problem with run_skl_aub_tests"
Hello again!
Sorry to insist, but I continue with build problems. This case is different and I think I'm narrowing the problem down.
@JacekDanecki suggest that I could start with [18.25.10965 release](https://github.com/intel/compute-runtime/releases/tag/18.25.10965) as a baseline. I'm with [18.44.11760 release](https://github.com/intel/compute-runtime/releases/tag/18.44.11760) now, Ubuntu 16.04.4

[2019-02-27 18:17] FePwR commented on #137
I just found what was the problem.
There is a issue with the patch.
I'll try to do a pull request in #53 patch.
Thank you for all the help!

[2019-02-27 18:20] #137 closed

[2019-02-28 07:45] MichalMrozek commented on #136
Looks like you are running custom Kernel.
* Linux version 4.7.0.intel.r4.0

Neo driver doesn't work well with non plain Open Source Linux Kernels.
Can you try with plain Kernel without any Intel patches?
Can you try with some more recent Kernels?

[2019-03-02 04:01] danielsokolowski opened #138 "Does the 18.1 release CPU runtime support: Pentium(R) Dual-Core CPU E5400 @ 2.70GHz"
The reason I ask is that the relase notes state that SSE3 is supported, but after installing the packages on Debian (followed Ubuntu install)  `clinfo` does not return any platforms. Checking with `strace` confirms the libraries are being loaded.

The old 5.0 version (intel-opencl-r5.0 (SRB5.0) Linux driver) of the CPU runtime `clinfo` does report a platform but fails when I test some test program

[2019-03-02 14:40] PlutusCN commented on #123
@JacekDanecki
I have no:
[code]

What that mean ?

[2019-03-04 06:33] jebos opened #139 "Build Issue: Could not load libigdfcl.so"
Following the descriptions found here https://gist.github.com/Brainiarc7/4f831867f8e55d35cbcb527e15f9f116 on a Ubuntu 18.10 I did:

This ended up in

[code]

Any Idea whats missing / wrong?

[2019-03-04 08:24] Cp-Graham commented on #136
Hi @MichalMrozek,

Apologies for not getting back to you sooner it does indeed look like the issue is resolved in the latest standard kernel on 16.04 and worked out of the box on 18.04!

Thanks again for your help!
Cheers
Graham

[2019-03-04 08:24] #136 closed

[2019-03-04 13:08] JacekDanecki commented on #123
This means that patches from directory common_clang/patches were not applied.
There is set 9 patches in  [common_clang repository](https://github.com/intel/opencl-clang/tree/ocl-open-70/patches):
* 5 for [clang](https://github.com/llvm-mirror/clang.git)
* 4 for [spirv](https://github.com/KhronosGroup/SPIRV-LLVM-Translator.git)

The latest changes in [IGC](https://github.com/intel/intel-graphics-co

[2019-03-04 16:53] JacekDanecki commented on #139
Have you executed
[code]
after installing IGC?
You can find some tips in [this issue](https://github.com/intel/compute-runtime/issues/123)

[2019-03-04 20:14] jebos commented on #139
Well, this can be closed, Just did a clean new attempt and it worked out this time to compile, not sure what caused the issue on first run.

[2019-03-04 20:14] #139 closed

[2019-03-05 03:39] PlutusCN commented on #123
@JacekDanecki
The following is my compiling environment:
[code]

And the log for building:
[make_igc_error.log](https://github.com/intel/compute-runtime/files/2929176/make_igc_error.log)

BTW:
I chose
opencl-clang @6257ffe137a2c8df95a3f3b39fa477aa8ed15837
igc @b0409b893508e55d9548a1d6658788e7cd9963bd
before now, and the result of compilation was also like the above log file.

[2019-03-05 11:54] FelipeMLopez opened #140 "Possible NEO patch bug"
Hello!
I've been testing these changes and I think there is a problem with #53 patch.
Like I said in #134, I had problems to achieve fine-grained buffer support.
I managed to install the driver following the @JacekDanecki instructions:
[code]
But I continued without fine-grained buffer support. Then, following the @BartoszDunajski instructions in #134, I was reviewing the sources and I made these

[2019-03-05 13:54] FelipeMLopez commented on #140
I also managed to apply and to test the changes in 19.08 version, but it's necessary an additional change in #53:

[code]
Instead of:

[code]
I hope that helps.
Thanks.

[2019-03-05 14:49] JacekDanecki commented on #123
The latest changes on IGC side allow to build IGC with system llvm/clang 7 without applying patches.
Such configuration requires additional parameter for IGC cmake:
[code]
@PlutusCN In log you've provided I can see you have llvm/clang 7.1.0 installed on your system in /usr/local directory.
Have you applied any patched on this llvm? How did you build and install this version?
If you build llvm with

[2019-03-08 01:03] ruiling commented on #131
any update?

[2019-03-08 02:23] dliang0406 commented on #122
I met the same issue with TVM. Is there any ETA for the fix?

[2019-03-08 10:09] AdamCetnerowski commented on #138
Neo provides runtime for GPU-only. Other devices, including CPU, are supported in our Developer Zone: https://software.intel.com/en-us/forums/opencl

[2019-03-08 10:18] #87 closed

[2019-03-08 10:23] BartoszDunajski commented on #140
@FelipeMLopez, missing ftrSupportsCoherency flag setup is implementation gap. It will be fixed during PR merge - it required rebase anyway.

Is your local fix enough to test fine grain SVM?

[2019-03-08 10:28] FelipeMLopez commented on #140
Yes, it is. I can use fine grain SVM without problem.

[2019-03-08 10:36] BartoszDunajski commented on #140
Great :). Thank you for showing interest. Feel free to contribute.

We are going to rebase current PR to top of the branch. Please consider postponing your fix, as it may cause many merge conflicts after rebase.

[2019-03-08 10:52] BartoszDunajski commented on #140
Can we close this issue?

[2019-03-08 10:58] FelipeMLopez commented on #140
Of course.
I close it.
Thank you.

[2019-03-08 10:58] #140 closed

[2019-03-08 14:07] JacekDanecki commented on #122
This issue is on my todo list. You can find quick fix in my [fork](https://github.com/JacekDanecki/compute-runtime/commit/42a47ab539362b87f26862e3ac21b18676d463d5). With such change halide lesson 12 passed
[code]

[2019-03-08 23:11] tripzero opened #141 "parallel make doesn't work"
Doing a make -j5, I get the following error on clearlinux:

 make -j5
Scanning dependencies of target elflib
Scanning dependencies of target gmock-gtest
Scanning dependencies of target biksim
Scanning dependencies of target igdrcl_lib_release_sharings_enable
Scanning dependencies of target copy_compiler_files
[  0%] Building CXX object elf/CMakeFiles/elflib.dir/reader.cpp.o
[  0%] Built target cop

[2019-03-09 09:44] alalek commented on #141
Try `make VERBOSE=1` to get details.

[2019-03-11 11:01] JacekDanecki commented on #141
@tripzero What Neo commit ID are you trying to build?

[2019-03-13 15:53] JacekDanecki commented on #141
I've reproduced this issue on clearlinux. I don't see such problem on another Linux distributions we test.

[2019-03-13 16:03] JacekDanecki commented on #141
As a workaround you can use ninja tool:
[code]
but it'll fail because of issue on [igc side](https://github.com/intel/intel-graphics-compiler/issues/75)

[2019-03-15 06:49] MichalMrozek commented on #138
Looks like question is answered, closing.

[2019-03-15 06:49] #138 closed

[2019-03-15 09:33] JacekDanecki commented on #141
You can use below patch to enable Neo compilation, using make or ninja
[code]
But I've found another issue during ULT tests
[code]
To workaround this you can build Neo without ULT
[code]
Btw, I was not able to reproduce https://github.com/intel/intel-graphics-compiler/issues/75, when I've recompiled IGC on clearlinux 28280.

[2019-03-15 16:30] tripzero commented on #141
Disable ULT should probably be added as a cmake option.

[2019-03-15 16:33] tripzero commented on #141
@JacekDanecki you will need https://github.com/intel/opencl-clang/pull/49 to reproduce https://github.com/intel/intel-graphics-compiler/issues/75 and get past your current crash in ULT.

[2019-03-15 16:35] JacekDanecki commented on #141
@To disable ULT use this flag:
[code]

[2019-03-20 09:25] AdamCetnerowski commented on #110
cl_khr_spirv_no_integer_wrap_decoration - is now supported in the driver

[2019-03-24 04:49] danielsokolowski opened #149 "Where to download OpenCL™ Runtime 15.1 (or 14.2)?"
Continuation to this issue: https://github.com/intel/compute-runtime/issues/138

Where can I get 'OpenCL™ Runtime 15.1' package? The official [releases](https://github.com/intel/compute-runtime/releases) only go down to 18.X, but the [release docs](https://software.intel.com/sites/default/files/managed/c9/24/opencl_runtime-15.1-release_notes.pdf) state I should be able to download for that url.

!

[2019-03-24 12:10] PiotrRozenfeld commented on #149
See here: https://software.intel.com/en-us/articles/legacy-opencl-drivers#latest_CPU_runtime

[2019-03-28 17:04] petercad opened #153 "ocloc crashes if no kernels defined"
ocloc on Linux crashes when compiling a non-zero-length OpenCL source file with no kernels.

    echo > test.cl
    ocloc -file test.cl -device kbl

If the file is zero-length, this doesn't happen.

[2019-03-29 09:11] AdamCetnerowski commented on #44
IGC support has been added. Runtime piece will be provided in Q2'19

[2019-03-29 09:57] MichalMrozek commented on #132
Closing due to inaction, feel free to reopen.

[2019-03-29 09:57] #132 closed

[2019-03-29 10:52] JacekDanecki commented on #123
Closing as new instructions were provided. Feel free to reopen or create new issue if you find any new problems.

[2019-03-29 10:52] #123 closed

[2019-03-29 12:23] PiotrRozenfeld commented on #149
Response provided - closing.
If you have further questions for OpenCL CPU, the [forums](https://software.intel.com/en-us/forums/opencl/) might be a better place to get support.

[2019-03-29 12:30] #149 closed

[2019-03-29 13:52] ArturHarasimiuk commented on #131
@ruiling could you please elaborate more on what problem are you observing? va_api_major_version was not changed between proposed revisions thus it doesn't look that update on our side is required.

[2019-03-31 13:39] isgursoy commented on #132
I had not time to check yet. I will be back here with outputs soon. Thanks.

[2019-04-02 03:30] ruiling commented on #131
@ArturHarasimiuk I double check my issue (I meet segfault when using Neo with media-driver for buffer sharing). And I find that my issue was caused by gmmlib version instead of libva version. Neo release binary packages works with specific gmmlib version.  But in order to use media-driver,  I have to build gmmlib from source code again. And then I unintentionally overwrite gmmlib with an incompati

[2019-04-05 09:10] zhoub opened #154 "Doesn't support Intel(R) Atom(TM) x5-Z8350 ?"
Hi

I'm using the Ubuntu 16.04 LTS on Up board.

Downloaded the latest release
https://github.com/intel/compute-runtime/releases/tag/19.12.12612
and installed them, **oclinfo** still returns nothing.

Is there any possible to support Atom CPU ? Thanks !

[2019-04-05 09:51] AdamCetnerowski commented on #154
NEO support for Atom platforms starts with [Apollo Lake](https://ark.intel.com/content/www/us/en/ark/products/codename/80644/apollo-lake.html). Your CPU is older and is supported by [Beignet OpenCL GPU driver](https://github.com/intel/beignet).

[2019-04-05 10:34] akharche opened #155 "Unit tests failed while building NEO on CentOS 7"
We are building NEO for MediaSDK release 19.1. Build failed due to issue in the Unit test, see the log below. We found similar [issue](https://github.com/intel/compute-runtime/issues/137). The [PR](https://github.com/intel/compute-runtime/pull/53) with fix was not merged. This issue is showstopper problem for the release, it should be fixed ASAP!

Versions:
NEO - 19.12.12612
gmmlib - 18.4.1
IGC -

[2019-04-05 11:24] AdamCetnerowski commented on #155
Please provide full build log

[2019-04-05 12:15] akharche commented on #155
Cmake and make logs:
[OpenCL_cmake.log](https://github.com/intel/compute-runtime/files/3047794/OpenCL_cmake.log)
[OpenCL_build.log](https://github.com/intel/compute-runtime/files/3047796/OpenCL_build.log)

[2019-04-05 13:54] #154 closed

[2019-04-05 14:06] MichalMrozek commented on #153
Crash is happening in IGC library.
Can you file problem there?
https://github.com/intel/intel-graphics-compiler

[2019-04-05 14:32] ArturHarasimiuk commented on #155
This version of IGC was not tested in connection with Neo. Please use revision from our [release](https://github.com/intel/compute-runtime/releases/tag/19.12.12612): intel/intel-graphics-compiler@429b1d5

[2019-04-05 14:55] petercad commented on #153
Sure, I'll file it with IGC. Thanks!

[2019-04-05 14:55] #153 closed

[2019-04-07 10:41] dev-zero opened #156 ""LLVM ERROR: unknown argument number for an object" when building 19.13.12717"
When trying to build 19.13.12717, compilation fails here:

[code]

with:

* llvm/clang 8.0.0 (unpatched/original)
* SPIRV-LLVM-Translator 8.0.0-1
* opencl-clang 8.0.0-1
* IGC 1.0.0 (with a [small patch](https://github.com/intel/intel-graphics-compiler/issues/83#issuecomment-480562279) to make it compile)
* gmmlib-19.1.1
* libva-2.4.0
* libdrm-2.4.97

[2019-04-08 14:35] JacekDanecki commented on #156
@dev-zero Can you confirm that patches from [here](https://github.com/intel/opencl-clang/tree/ocl-open-80/patches/clang) were applied to clang 8.0.0, you are using, and also patch from [here](https://github.com/intel/opencl-clang/tree/ocl-open-80/patches/spirv) was applied on [SPIRV-LLVM-Translator](https://github.com/KhronosGroup/SPIRV-LLVM-Translator.git)?
I've observed such issue when trying to

[2019-04-09 05:49] dev-zero commented on #156
@JacekDanecki I didn't when I first opened the issue, but now I have:

* clang-8.0.0 with the mentioned patches
* SPIRV-LLVM-Translator 8.0.0-1 without the patch explicitly applied, but when I try to apply it, `patch`tells me it discovered a reversed patch

After that I rebuilt opencl-clang and IGC.

[2019-04-09 10:39] JacekDanecki commented on #156
@dev-zero What about Neo? Do you still observe issue with ocloc, during Neo build, after clang was patched?

[2019-04-09 12:25] dev-zero commented on #156
Yes, I still see the same error after patching clang:

[code]

I also cleared the `ccache` cache for neo before rebuilding it.
Is there a way I can increase the verbosity to figure out which object was invalid to possibly trace it back to one of the components?

[2019-04-09 17:32] dev-zero commented on #156
Ok, thanks. So, you were able to reproduce it?

[2019-04-10 10:20] JacekDanecki commented on #156
I've reproduced this issue on Ubuntu 19.04 with system clang:
[code]
I've not verified whether this clang contains patches from opencl-clang. Will check this later.
I've not tried to build it on Gentoo yet.

[2019-04-10 13:08] JacekDanecki commented on #156
clang 8 from Ubuntu 19.04 contains 3 patches from opencl-clang repository:
[code]
In my first test I've compiled SPIRV-LLVM-Translator myself without patch:
[code]
and then problem reproduced:
[code]
during Neo compilation.
When I installed libllvmspirvlib8 and libllvmspirvlib-dev which contain above patch, Neo compiled without issue. More details about these packages in Ubuntu you can find [here]

[2019-04-10 13:19] dev-zero commented on #156
I'm using SPIRV-LLVM-Translator from here: https://github.com/KhronosGroup/SPIRV-LLVM-Translator/releases/tag/v8.0.0-1

Trying to apply the mentioned patch results in:

[code]

[2019-04-10 13:19] dev-zero commented on #156
ah, wait, just saw that the first part of that patch would actually apply if the line endings inside would be correct :-/

[2019-04-10 13:22] JacekDanecki commented on #156
Patch provided in opencl-clang repository contains CRLF line terminators so can't be applied on release 8.0.0-1 or code from git, you need to change line endings.

Original patch:
[code]

Cleaned up patch:
[code]

[2019-04-10 13:25] dev-zero commented on #156
Yes, sorry, didn't see that the first part of the patch would apply after fixing it with `dos2unix`/`fromdos`.

For the rest (patches for the `.ll` files) I still get an error that they are already applied and I would have to provide `-R` to reverse them when trying to apply them to v8.0.0-1

[2019-04-10 13:29] dev-zero commented on #156
ok, now I got it: it was only the first part of the patch which was botched. So the second part was already applied and when I tried to reapply it after fixing it it complained that some part was already applied.

[2019-04-10 13:31] dev-zero commented on #156
Sorry for the confusion. After applying the fixed patch I was able to build NEO and its testsuite seems to work as well. Thanks a lot!

[2019-04-10 13:32] JacekDanecki commented on #156
Ok, great, closing issue.

[2019-04-10 13:32] #156 closed

[2019-04-10 16:25] tjaalton opened #157 "source missing: unit_tests/test_files/copybuffer.elf"
Hi, this file is missing source, any chance it could be built along with the rest?

[2019-04-10 20:13] ArturHarasimiuk commented on #157
Hi,
file is here: https://github.com/intel/compute-runtime/blob/master/unit_tests/test_files/copybuffer.elf

Could you share more details on error you observe? cmake output, build log, etc...

[2019-04-10 20:59] alalek commented on #157
Perhaps he requesting "source code" for this binary blob. I believe, source of mentioned file is `copybuffer.cl` from the same directory.

BTW, It is just a "test data" (probably some kind of reference data, if its contents are used).

[2019-04-11 07:18] tjaalton commented on #157
Right, I'm packaging compute-runtime for Debian/Ubuntu, and I'm not sure if having this as-is is a blocker for entry or not. I know it's used only for the tests, so the worst case scenario is to not run those tests if this file has to be removed from the packaging.

[2019-04-11 07:33] ArturHarasimiuk commented on #157
@tjaalton current content of ~canonical-x/+archive/ubuntu/x-staging looks good, intel-opencl .deb package contains all required files. You can safely skip everything what is under the unit_tests because this content is used only during the driver build.

[2019-04-11 11:20] ArturHarasimiuk commented on #131
Thank you for comments. We will consider doing this and adding more information.

[2019-04-11 11:20] #131 closed

[2019-04-12 09:27] JacekDanecki commented on #84
@KhazAkar With this commit 22be2f677d500641d46cf602732a19335dd35ec8 Indigo Benchmark is working.

[2019-04-12 09:29] JacekDanecki commented on #122
Fixed with this commit: 22be2f677d500641d46cf602732a19335dd35ec8
Closing this issue, if you see new problem, please reopen it, or create new issue.

[2019-04-12 09:29] #122 closed

[2019-04-13 05:48] justxi opened #160 "Suitable hardware (CPU, Mainboard)"
Hello,

I own a notebook with Intel Core i7 6700HQ (six generation) with "Intel HD-530" graphics. But this does not seem to be supported by Intel Compute-Runtime.

I would like to test and use Intel Compute-Runtime, and buy some hardware. To be sure that it will work, my question is: Is a "Intel Core i5 8400 6x 2.80GHz So.1151" with a "Asus Prime B360-Plus Intel B360 So.1151 Dual Channel DDR4 ATX"

[2019-04-13 10:17] PiotrRozenfeld commented on #160
The hardware you have (i7-6700HQ/HD Graphics 530) is on the list of supported devices.
Could you provide more details on why Compute Runtime does not work for you? What OS and driver version do you currently use?

[2019-04-13 12:25] justxi commented on #160
Sorry, this was a little bit too short and misunderstandable. I have a notebook with Intel Core i7 6700HW and nVidia Geforce 1060.  I thought that all Core i processors have integrated graphics (https://ark.intel.com/content/www/de/de/ark/products/88967/intel-core-i7-6700hq-processor-6m-cache-up-to-3-50-ghz.html). I use Linux so I tested the hardware with "lshw" and "inxi", but no Intel graphics d

[2019-04-13 14:49] alalek commented on #160
@justxi Probably you need to play with BIOS settings about "Integrated graphics". Linux's `lspci` should show both "VGA" devices if all is OK.

[2019-04-13 17:07] justxi commented on #160
@alalek I didn´t find a Bios option. It is an Acer Predator G5-793-7108. According to a post in the Acer community it is not possible to switch to the iGPU. I found, that the iGPU is not used on another page. Interesstingly, sites that sold this notebook give the information that there is an integrated iGPU. But GPU-Z and GPU-Z list also only the nVidia GPU.  But this is not a problem, I would lik

[2019-04-13 17:48] alalek commented on #160
@justxi Like [this](https://community.acer.com/en/discussion/547277/no-option-to-run-both-integrated-graphics-and-discrete-graphics-in-bios) or [this](https://superuser.com/questions/93194/how-do-i-enable-the-on-board-graphics-card)?

If option is disabled in BIOS, then you can't see iGPU in Operating System (Linux's `lspci` or Windows "Devices").
No needs to switch display "output", we need to tu

[2019-04-13 18:14] justxi commented on #160
@alalek I mean this post https://community.acer.com/en/discussion/474950/predator-g5-793-gtx-1060-enable-internal-gpu. It seems that it is possible to unlock extended option with special keyboard shortcuts (which not work for all notebook) or flash a new BIOS. But I will not do it, I will not brick my device ;). Many thanks for your effort.

[2019-04-17 01:48] PlutusCN commented on #123
A ton of thanks to @JacekDanecki , I can compile the latest NEO successfully. And
[build_intel_neo_v2.sh.txt](https://github.com/intel/compute-runtime/files/3087581/build_intel_neo_v2.sh.txt)
is my process, I wrote them into the script file.

And thanks to @JacekDanecki again.

[2019-04-18 08:35] phush0 commented on #160
You can not enable iGPU on this model, because GTX 1060 card is directly linked to LCD, but you can use Nvidia card for OpenCL too, also you can install CUDA runtime on it. Just search hot to enable OpenCL on Nvidia card, not Intel one.

[2019-04-18 17:28] justxi commented on #160
Yes thats clear. I wanted to know if an core i5 is a suitable processor. But in the meantime I found the compatibility list and I think it should work.

[2019-04-23 10:19] KhazAkar opened #161 "Abort was called at 99 line in file: ../neo/runtime/built_ins/built_ins.cpp Aborted (core dumped)"
Can't run even clinfo after updating compute-runtime to the newest version, after trying it to run shows this:
`Abort was called at 99 line in file:
../neo/runtime/built_ins/built_ins.cpp
Aborted (core dumped)`
I'm using OpenSUSE Tumbleweed with Skylake CPU.

[2019-04-23 10:29] JacekDanecki commented on #161
Can you provide output from clinfo after setting below environment variable:
[code]

[2019-04-23 18:03] ArturHarasimiuk commented on #157
File removed by https://github.com/intel/compute-runtime/commit/dbe4aec7f565280f98a43370672e3a97e70dd5cb that's why I will close this issue. Feel free to open new issue if you find something new.

[2019-04-23 18:03] #157 closed

[2019-04-24 07:59] Glavnokoman commented on #122
`==186==You are trying to dlopen a libopencl_clang.so shared library with RTLD_DEEPBIND flag which is incompatibe with sanitizer runtime (see https://github.com/google/sanitizers/issues/611 for details). If you want to run libopencl_clang.so library under sanitizers please remove RTLD_DEEPBIND from dlopen flags`
Is there a way to load this lib now in a project using sanitizers? I failed to pick a

[2019-04-24 08:03] alalek commented on #122
Take a look on `USE_ASAN` build option.

[2019-04-24 08:17] Glavnokoman commented on #122
Aha, so no other way apart from rebuilding. Got it, thanks!

[2019-04-24 11:53] KhazAkar commented on #161
`LD_DEBUG=libs clinfo >> clinfo.txt
     26157:	find library=libOpenCL.so.1 [0]; searching
     26157:	 search cache=/etc/ld.so.cache
     26157:	  trying file=/usr/lib64/libOpenCL.so.1
     26157:
     26157:	find library=libdl.so.2 [0]; searching
     26157:	 search cache=/etc/ld.so.cache
     26157:	  trying file=/lib64/libdl.so.2
     26157:
     26157:	find library=libc.so.6 [0]; searching

[2019-04-24 12:23] JacekDanecki commented on #161
Where have you installed igc libraries? They were not found in locations:
[code]
Can you add directory with IGC libraries to linker cache using file in /etc/ld.so.conf.d directory, and running
[code]
You can also set environment variable to directory containing IGC libraries, for example
[code]

[2019-04-24 13:50] KhazAkar commented on #161
They are in /usr/local/lib directory, adding LD_LIBRARY_PATH helped to run it. It won't affect running other apps?

[2019-04-24 14:08] JacekDanecki commented on #161
It depends on where you've added LD_LIBRARY_PATH. You can set it locally in a terminal, so it'll have impact on applications executed only in this terminal. If you add this to ${HOME}/.bashrc or ${HOME}/.bash_profile (assuming you are using bash shell), it'll have impact on application executed by current user. You can also add this to some file in /etc directory. In such case it'll have impact on

[2019-04-25 13:30] speryt opened #163 "Compilation error on IBIF_PreRelease_Impl.cl with Docker"
When building NEO and it's components according to guide from [here](https://github.com/JacekDanecki/compute-runtime/wiki/How-to-build-Neo-components) I am constantly facing error when building IGC
[code]
I've tested it both with IGC master and with suggested commit from the guide, but error is still there. Other components are using the designated commit from the guide.

[2019-04-26 09:40] JacekDanecki commented on #163
When I use opencl-clang with [commit id](https://github.com/intel/opencl-clang/commit/d29e1fa373f942165465f1d8b9708baf5a02e5e2) IGC compilation finished successfully:
[code]
There is similar issue reported in [IGC project](https://github.com/intel/intel-graphics-compiler/issues/87)

[2019-04-26 11:06] AdamCetnerowski commented on #110
We now officially support SPIR-V 1.2

[2019-04-27 01:26] oscarbg commented on #110
nice!
today's release 19.16.12873 supports it already?

[2019-04-30 05:58] drahnr commented on #46
Can you add a link to the copr repos in the README.md?

[2019-04-30 08:09] adydychk commented on #46
@drahnr Me?

[2019-04-30 11:01] JacekDanecki commented on #46
@drahnr When we update copr setups to use llvm 7/8, we'll add information about copr [here](https://github.com/intel/compute-runtime/blob/master/documentation/Neo_in_distributions.md). Currently on copr there are IGC components compiled with llvm 4.

[2019-05-03 07:40] zhoub opened #164 "clinfo+19.16.12873=Segmentation fault"
Hi !

I installed the .deb packages from here

https://github.com/intel/compute-runtime/releases/tag/19.16.12873

And installed the clinfo from Ubuntu 16.

It shows *Segmentation fault (core dumped)* after a while.
[code]

[code]

Thanks !

[2019-05-03 08:19] alalek commented on #164
- `echo $LD_LIBRARY_PATH` - empty?
- `LD_DEBUG=files clinfo` (dump into .txt file and attach it). Check that there are no files from old NEO setup.

[2019-05-06 08:17] AdamCetnerowski commented on #110
Not yet. This was introduced with build 12890. I expect it will be included in this week's release.

[2019-05-07 08:56] zhoub commented on #164
Strange, I removed some packages it works, still thanks !

[2019-05-07 08:56] #164 closed

[2019-05-07 22:26] umaplehurst opened #165 "Duplicated .so file in Ubuntu 16.04 pre-compiled binaries"
Hi there,

An optimization can be made to the Ubuntu binary packages which will reduce the amount of disk space that is used up; namely, `libopencl-clang.so` should be a symlink to `libopencl-clang.so.7` as is already the case for `libigdfcl.so`:

[code]

Thanks!

[2019-05-08 10:21] JacekDanecki commented on #165
It'll be fixed soon on IGC side. When we get newer version of IGC, it'll be in Neo release.

[2019-05-09 06:58] zhoub opened #166 "Need cl_khr_gl_sharing"
Hi

I found that this driver doesn't support *cl_khr_gl_sharing*, is there any plan for this ? Thanks !

[2019-05-09 11:54] PiotrRozenfeld commented on #166
At this point this extension is supported only on Windows. There are currently no plans to implement this extension on Linux.

[2019-05-09 14:52] Nyrio opened #167 "Regression with the last NEO drivers (OpenCL extensions)"
This is the sequel of https://github.com/CNugteren/CLBlast/issues/355
@JacekDanecki suggested following up here

To reproduce the issue, you can use the samples from the CLBlast repository (disclaimer: it's not what I'm using but I've been able to reproduce the issue with them).

* install the latest NEO drivers (my version is `19.16.12873`)
* clone [CLBlast](https://github.com/CNugteren/CLBlast.g

[2019-05-09 14:59] JacekDanecki commented on #167
I've reproduction on my side. Let me look at this.
[code]

[2019-05-10 02:00] zhoub commented on #166
Hi

This is actually important as Windows platform. So many video applications require the OpenCL and OpenGL interop, and now our work is based on Intel Up board. Please consider this. Thanks !